{% if settings.breadcrumbs_enable %}
  <section id="NovBreadcrumbs" class="{{ class_br }}">
    <div class="container position-relative">
      {% if class_br != 'breadcrumb_default' %}
        <div class="headingBreacrumb text-uppercase f_pr font-800 mb-5 position-relative"><h1>{{ page_title }}</h1></div>
      {% endif %}
      <ol class="breadcrumb">
        <li class="list-inline-item">
          <a href="/" class="item-breacrumb item-home">{{ 'general.breadcrumbs.home' | t }}</a>
        </li>
        {% if template contains 'article' %}
          <li class="list-inline-item"><a href="{{ blog.url }}" class="item-breacrumb">{{ blog.title }}</a></li>
          <li class="list-inline-item"><span class="item-breacrumb">{{ article.title }}</span></li>
        {% elsif template contains 'product' %}
          {% if collection %}
            {% if collection.handle %}
              {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
              <li class="list-inline-item"><a href="{{ url }}" class="item-breacrumb">{{ collection.title }}</a></li>
            {% endif %}
          {% endif %}
          <li class="list-inline-item"><span class="item-breacrumb">{{ product.title }}</span></li>
        {% elsif template contains 'collection' and collection.handle %}
          {% if current_tags %}
            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
            <li class="list-inline-item"><a href="{{ url }}" class="item-breacrumb">{{ collection.title }}</a></li>
            <li class="list-inline-item"><span class="item-breacrumb">{{ current_tags | join: " + " }}</span></li>
          {% else %}
            <li class="list-inline-item"><span class="item-breacrumb">{{ collection.title }}</span></li>
          {% endif %}
        {% elsif template contains 'blog' %}
          {% if current_tags %}
            {{ blog.title | link_to: blog.url }}
            <li class="list-inline-item"><a href="{{ blog.url }}" class="item-breacrumb">{{ blog.title }}</a></li>
            <li class="list-inline-item"><span class="item-breacrumb">{{ current_tags | join: " + " }}</span></li>
          {% else %}
            <li class="list-inline-item"><span class="item-breacrumb">{{ blog.title }}</span>
            </li>
          {% endif %}
        {% elsif template contains 'page' %}
          <li class="list-inline-item"><span class="item-breacrumb">{{ page.title }}</span></li>
        {% else %}
          <li class="list-inline-item">
            {% if custom_pagetitle != blank %}
              <span class="item-breacrumb">{{ custom_pagetitle }}</span>
            {% else %}
              <span class="item-breacrumb">{{ page_title }}</span>
            {% endif %}
          </li>
        {% endif %}
      </ol>
      {% if collection.handle == 'flash-deals' and template.name contains 'collection' %}
        <div class="breadcrumb-deal d-flex align-items-center">
          {%- assign countdownTime = settings.countdown_deal -%}
          {% if settings.icon_deal != blank %}
            <img src="{{ settings.icon_deal | img_url: '35x' }}" class="breadcrumb-deal-i">
          {% endif %}
          {% if settings.countdown_deal_t != blank %}
            <div class="breadcrumb-deal-t font-800 f_pr c_h">{{ settings.countdown_deal_t }}</div>
          {% endif %}
          <div class="countdownfree" data-countdown="{{ countdownTime }}" data-show-days="{{ settings.show_day }}" data-restart="{{ settings.restart }}"></div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
{%- assign bg_image = settings.bg_br_img -%}
{% if bg_image.src != blank %}
  <style>
    #NovBreadcrumbs {
      background-image: url("{{ bg_image | img_url: '1920x' }}");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  </style>
{% endif %}
