<div id="mobile_menu" mobile-menu>
  {% if settings.mobile_search %}
    {% include 'nov-formsearch-inline' %}
  {% endif %}
  <div class="canvas-menu">
  </div>
  <div class="mobile_bottom">
    <div class="item-contact d-flex align-items-center d-lg-none">
      <div class="icon-phone d-flex align-items-center justify-content-center"><a class="d-block" href="tel:{{ sst.phone }}"><i class="{{ sst.phone_icon }}"></i></a></div>
      <div class="d-flex flex-wrap align-items-start flex-column justify-content-center font-text">
        <p class="how-order">{{ 'layout.header.how_to_order' | t }}</p>
        <p class="mb-0 text-uppercase"><span>{{ 'layout.header.call_us' | t }}{{ sst.phone }}</span></p>
      </div>
    </div>
  </div>
  <div class="block_multi row spacing-10 mt-40 d-lg-none">
    {% if settings.show_multiple_currencies == true %}
      <div class="col-6">{% include 'nov-block-currency' %}</div>
    {% endif %}
    {%- if localization.available_languages.size > 1 -%}
      <div class="col-6">{% include 'nov-block-language', id: 'mobile-language' %}</div>
    {%- endif -%}
  </div>
</div>