<div class="productQuickView d-none d-md-block">
	<a class="btnProductQuickview" href="#" data-url="/products/{{ handle }}?view=quick_view" data-product-url="/products/{{ handle }}" data-handle="{{ handle }}" data-pid="{{ id }}"{% if settings.tooltip_enable %} data-toggle="tooltip" data-placement="top" title="{{ 'products.butttons.quickview' | t }}" {% endif %}>
		<i class="zmdi zmdi-collection-image-o"></i>
	</a>
</div>