<div id="stickymenu_bottom_mobile" class="d-md-none text-center">
  <div class="row">
    <div class="stickymenu-item col d-flex align-items-center justify-content-center"><a href="/"><i class="rbb-icon-home-outline-1"></i><span>{{ 'sticky_mobile.home.title' | t }}</span></a></div>
    <div class="stickymenu-item col d-flex align-items-center justify-content-center"><a href="/collections/all"><i class="rbb-icon-view-grid-1"></i><span>{{ 'sticky_mobile.shopping.title' | t }}</span></a></div>
    {% if settings.wishlist_enable %}
    <div class="stickymenu-item col d-flex align-items-center justify-content-center">
      <a href="{{ settings.link_page_wishlist }}">
        <i class="rbb-icon-wishlist-10"></i>
        <span>{{ 'sticky_mobile.wishlist.title' | t }}</span>
        <div id="WishlistCount" class="font-600 position-absolute text-center rounded-circle white bg_black">0</div>
      </a>
    </div>
    {% endif %}
    <div class="stickymenu-item col d-flex align-items-center justify-content-center">
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <a href="{{ shop.secure_url }}/account" class="nov-toggle-page">
            <i class="rbb-icon-human-user-11"></i><span>{{ 'sticky_mobile.account.title' | t }}</span>
          </a>
        {% else %}
          <a href="#" class="nov-toggle-page" data-toggle="modal" data-target="#popup__login">
            <i class="rbb-icon-human-user-11"></i><span>{{ 'sticky_mobile.account.title' | t }}</span>
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>