<div class="block_social" social>
  <ul class="list-inline mb-0">
    {% if settings.social_facebook_link != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <span class="social-title">Facebook</span>
        </a>
      </li>
    {% endif %}

    {% if settings.social_pinterest_link != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
          <span class="social-title">Pinterest</span>
        </a>
      </li>
    {% endif %}

    {% if settings.social_instagram_link != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <span class="social-title">Instagram</span>
        </a>
      </li>
    {% endif %}

    {% if settings.social_twitter_link != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <span class="social-title">Twitter</span>
        </a>
      </li>
    {% endif %}

    {% if settings.social_youtube_link != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
          <span class="social-title">YouTube</span>
        </a>
      </li>
    {% endif %}

    {% if settings.social_dribbble_link != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_dribbble_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Dribbble' }}">
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <span class="social-title">Dribbble</span>
        </a>
      </li>
    {% endif %}

    {% if settings.social_tumblr_link != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: '' }}">
          <i class="fa fa-tumblr" aria-hidden="true"></i>
          <span class="social-title">Tumblr</span>
        </a>
      </li>
    {% endif %}

    {% if settings.social_linkedin_link != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_linkedin_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: '' }}">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
          <span class="social-title">Linkedin</span>
        </a>
      </li>
    {% endif %}

    {% if settings.social_google_link != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_google_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: '' }}">
          <i class="fa fa-google-plus" aria-hidden="true"></i>
          <span class="social-title">Google</span>
        </a>
      </li>
    {% endif %}

    {% if settings.social_snapchat_link != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
          <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
          <span class="social-title">Snapchat</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_vimeo_link != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
          <i class="fa fa-vimeo" aria-hidden="true"></i>
          <span class="social-title">Vimeo</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_tiktok != blank %}
      <li class="list-inline-item">
        <a href="{{ settings.social_tiktok | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
          <?xml version="1.0" encoding="utf-8"?>
          <svg width="800px" height="800px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M412.19,118.66a109.27,109.27,0,0,1-9.45-5.5,132.87,132.87,0,0,1-24.27-20.62c-18.1-20.71-24.86-41.72-27.35-56.43h.1C349.14,23.9,350,16,350.13,16H267.69V334.78c0,4.28,0,8.51-.18,12.69,0,.52-.05,1-.08,1.56,0,.23,0,.47-.05.71,0,.06,0,.12,0,.18a70,70,0,0,1-35.22,55.56,68.8,68.8,0,0,1-34.11,9c-38.41,0-69.54-31.32-69.54-70s31.13-70,69.54-70a68.9,68.9,0,0,1,21.41,3.39l.1-83.94a153.14,153.14,0,0,0-118,34.52,161.79,161.79,0,0,0-35.3,43.53c-3.48,6-16.61,30.11-18.2,69.24-1,22.21,5.67,45.22,8.85,54.73v.2c2,5.6,9.75,24.71,22.38,40.82A167.53,167.53,0,0,0,115,470.66v-.2l.2.2C155.11,497.78,199.36,496,199.36,496c7.66-.31,33.32,0,62.46-13.81,32.32-15.31,50.72-38.12,50.72-38.12a158.46,158.46,0,0,0,27.64-45.93c7.46-19.61,9.95-43.13,9.95-52.53V176.49c1,.6,14.32,9.41,14.32,9.41s19.19,12.3,49.13,20.31c21.48,5.7,50.42,6.9,50.42,6.9V131.27C453.86,132.37,433.27,129.17,412.19,118.66Z"/></svg>
          <span class="social-title">Tiktok</span>
        </a>
      </li>
    {% endif %}
  </ul>
</div>