<div class="TopContent">
  <div class="container">
    <div class="product-single row position-static">
      <div class="col-xl-7 col-lg-7">
        <div class="product-single__photos d-lg-flex flex-row-reverse">
          <div class="proFeaturedImage" id="proFeaturedImageZoom">
            {%- for media in product.media -%}
              {% case media.media_type %}
              {% when 'image' %}
              <a  href="javascript:void(0)" class="item d-lg-flex mb-10 mb-md-0{% if forloop.first == true %} act{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}" data-position="{{ forloop.index }}" data-pswp-src="{{ media | img_url: '1024x' }}" data-pswp-width="{{ media.width }}" data-pswp-height="{{ media.height }}">
                {% assign img_url = media %}
                <div class="respone_image{% if section.settings.enable_zoom == true %} image-zoom{% endif %}" style="padding-top:{{ 1 | divided_by: img_url.aspect_ratio | times: 100}}%;" data-zoom="{{ media | img_url: product_image }}">
                  <img class="lazyload"
                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                    data-src="{{ img_url | img_url: '180x' }}"
                    data-srcset="{{ img_url | img_url: '380x' }} 380w,{{ img_url | img_url: '580x' }} 580w,{{ img_url | img_url: '768x' }} 768w,{{ img_url | img_url: '900x' }} 900w,{{ img_url | img_url: '1080x' }} 1080w,{{ img_url | img_url: '1296x' }} 1296w,{{ img_url | img_url: '1512x' }} 1512w,{{ img_url | img_url: '1728x' }} 1728w, {{ img_url | img_url: '2048x' }} 2048w" data-sizes="auto" alt="{{ img_url.alt }}"/>
                </div>
              </a>
              {% when 'external_video' %}
              <div class="item embed-responsive embed-responsive-16by9 mb-10 mb-md-0{% if forloop.first == true %} act{% endif %}" data-position="{{ forloop.index }}">
                {{ media | external_video_tag }}
              </div>
              {% when 'video' %}
              <div class="item mb-10 mb-md-0{% if forloop.first == true %} act{% endif %}" data-position="{{ forloop.index }}">
                {{ media | video_tag: controls: true, autoplay: true, loop: true, image_size: "1024x" }}
              </div>
              {% when 'model' %}
              <div class="item mb-10 mb-md-0 position-relative{% if forloop.first == true %} act{% endif %}"style="padding-top: 133.3333%" data-position="{{ forloop.index }}">
                <product-model class="position-absolute" data-media-id="{{ section.id }}-{{ media.id }}" style="top: 0; left: 0; right: 0; bottom: 0;">
                  {%- liquid echo media | media_tag: image_size: "2048x", toggleable: true -%}
                </product-model>
              </div>
              {% else %}
              <div class="item mb-10 mb-md-0{% if forloop.first == true %} act{% endif %}" data-position="{{ forloop.index }}">
                {{ media | media_tag }}
              </div>
              {% endcase %}
            {%- endfor -%}
          </div>
          {% if product.images.size > 0 %}
            <div id="productThumbs">
              <div class="thumblist thumb_slick product-single__sticky"
                data-autoplay="false" 
                data-autoplaytimeout="6000" 
                data-loop="false"
                data-dots="false"
                data-nav="false" 
                data-items="5"  
                data-items_lg="4" 
                data-items_md="5" 
                data-items_sm="4"
                data-items_xs="4"
                data-vertical="true"
                data-vertical_md="false"
                data-vertical_sm="false"
                data-vertical_xs="false">
                {%- for media in product.media -%}
                  <div class="item thumbItem{% if forloop.first == true %} active{% endif %}" data-position="{{ forloop.index }}" data-media-id="{{ section.id }}-{{ media.id }}">
                    <a href="javascript:void(0)" data-image="{{ media.preview_image | img_url: product_image }}" class="product-single__thumbnail position-relative">
                      <img class="product-single__thumbnail-image" src="{{ media.preview_image | img_url: aspect_ratio, crop: 'center' }}" alt="{{ thumbnailAlt }}">
                      {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                        <div class="product-single__thumbnail-badge video position-absolute">
                          <i class="zmdi zmdi-play-circle-outline"></i>
                        </div>
                      {%- endif -%}
                      {%- if media.media_type == 'model' -%}
                        <div class="product-single__thumbnail-badge model position-absolute">
                          <i class="fa fa-cube" aria-hidden="true"></i>
                        </div>
                      {%- endif -%}
                    </a>
                  </div>
                {%- endfor -%}
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="block_information col-xl-5 col-lg-5 mt-md-50 position-relative">
        <div class="info_content product-single__sticky">
          <div class="d-flex align-items-center justify-content-between mb-10">
            <h1 itemprop="name" class="product-single__title c_pr font-700 text-capitalize">{{ product.title }}</h1>
            {% if settings.wishlist_enable %}
              <div class="product-single__wishlist productWishList">
                <a class="wishlist btnProductWishlist d-flex align-items-center" data-icon-wishlist href="#" data-product-handle="{{ product.handle }}" data-id="{{ product.id | json }}">
                  <i class="rbb-icon-wishlist-8"></i>
                </a>
              </div>
            {% endif %}
          </div>
          {% if settings.show_rating %}
              <div class="product-single__top-review mb-20 d-flex align-items-center">
                {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
                <a href="#ProductSignleReview" class="btn-review__all text-uppercase font-700 c_h">{{ 'products.product.review_all_btn' | t }}</a>
              </div>
            {% endif %}
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
            {% include 'product-single-price' %}
            {% if section.settings.show_des %}
              <div class="product-single__shortdes" itemprop="description">
                {{ product.description | strip_html | truncatewords: 35}}
              </div> 
            {% endif %}
            {% include 'product-single-deal' %}
            {% if section.settings.show_available %}
              {% include 'product-single-available' %}
            {% endif %}
            <div class="product-single__info-item mb-25">
              {% if section.settings.show_tags %}
                <p itemprop="tags" class="product-single__tags d-flex">
                  <span class="label product-single__control-label">{{ 'products.product.lable_tags' | t }}:</span>
                  <span class="list-tags">
                    {% for tag in product.tags %}
                      {% if tag != 'upsell' %}
                        {% capture url %}/collections/all/{{ tag | handle }}{% endcapture %}
                        {% if forloop.last == true %}
                          {{ tag | link_to: url }}
                        {% else %}
                          {{ tag | link_to: url }},
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </span>
                </p>
              {% endif %}
              {% if section.settings.show_sku %}
                <p itemprop="sku" class="product-single__sku">
                  <span class="label product-single__control-label">{{ 'products.product.lable_sku' | t }}:</span>
                  <span id="variantSku" class="label-sku font-700 text-uppercase">{{ current_variant.sku }}</span>
                </p>
              {% endif %}
              {% if section.settings.show_categories %}
                <p itemprop="cat" class="product-single__cat d-flex">
                  <span class="label product-single__control-label">{{ 'products.product.lable_category' | t }}:</span>
                  <span class="label-cate">
                    {% for collection in product.collections %}
                      {% unless collection.title == 'home page' %}
                        {% if forloop.last == true %}
                          <a href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }}</a>
                        {% else %}
                          <a href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }},</a>
                        {% endif %}
                      {% endunless %}
                    {% endfor %}
                  </span>
                </p>
              {% endif %}
              {% if section.settings.show_vendor %}
                <p itemprop="brand" class="product-single__vendor"><span class="label product-single__control-label">{{ 'products.product.lable_vendor' | t }}:</span>{{ product.vendor }}</p>
              {% endif %}
            </div>
          </div>
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="product-form-{{ section.id }}" class="product-form product-form-{{ section.id }}" data-section="{{ section.id }}"> 
            {% include 'product-single-option' %}
            <div class="product-single__quantity mt-35 mb-45"> 
              {% if section.settings.show_quantity_selector == true %}
                <span class="product-single__control-label">{{ 'products.product.quantity' | t }}</span>
              {% endif %}
              <div class="product-form__item product-form__item--quantity d-flex align-items-center mb-10">
                {% if section.settings.show_quantity_selector == true %}
                  <div class="quick_view_qty">
                    <a href="javascript:void(0);" class="quick_view-qty quick_view-qty-minus">-</a>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1" max="{{ current_variant.inventory_quantity }}" step="1" class="quantity-selector product-form__input" pattern="[0-9]*">
                    <a href="javascript:void(0);" class="quick_view-qty quick_view-qty-plus">+</a>
                  </div>
                  {% else %}
                    <input type="hidden" id="Quantity" name="quantity" value="1" min="1" max="{{ current_variant.inventory_quantity }}" step="1"pattern="[0-9]*">
                {% endif %}
                <div class="product-form__item product-form__item--submit{% unless current_variant.available %} soldout{% endunless %}"{% unless current_variant.available %}data-toggle="modal" data-target="#Form_newletter"{% endunless %}>
                  <button data-handle="{{ product.handle }}" type="submit" name="add" id="AddToCart" class="btnAddToCart btn product-form__cart-submit">
                    {% if current_variant.available %}
                      {% if current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity < 1 %}
                        <span id="AddToCartText">{{ 'products.product.pre_order' | t }}</span>
                      {% else %}
                        <span id="AddToCartText">{{ 'products.product.add_to_bag' | t }}</span>
                      {% endif %}
                    {% else %}
                        <span id="AddToCartText" class="position-relative">{{ 'products.product.notify_me' | t }}</span>
                    {% endif %}
                    <span class="load"></span>
                  </button>
                </div>
              </div>
              <div class="product_option_sub">
                {% if settings.payment_button_enable %}
                  <div class="product-form__item product-form__item--checkout"{% if current_variant.available == false %} disabled{% endif %}>
                    {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
                    {{ form | payment_button }}
                    {% endform %}
                  </div>
                {% endif %}
              </div>
              <div class="product-single__share-ask-sizeguide d-flex align-items-center mt-25 pb-20">
                {% if section.settings.show_share %}
                  <div class="product-single__share">
                    <div class="product-single__share-ask-sizeguide-title c_h pointer" data-toggle="modal" data-target="#Shopshare">
                      <i class="zmdi zmdi-share align-middle"></i>
                      <span class="font-500 f_pr align-middle">{{ 'products.product.label_share' | t }}</span>
                    </div>
                  </div> 
                {% endif %}
                {% if section.settings.show_ask %}
                  <div class="product-single__ask">
                    <div class="product-single__share-ask-sizeguide-title c_h pointer" data-toggle="modal" data-target="#Shopask">
                      <i class="zmdi zmdi-help-outline align-middle"></i>
                      <span class="font-500 f_pr align-middle">{{ 'products.product.label_ask_a_question' | t }}</span>
                    </div>
                  </div>
                {% endif %}
                {% if section.settings.show_sizeguide %}
                  <div class="product-single__sizeguide">
                    <div class="product-single__share-ask-sizeguide-title c_h pointer" nov-btn-act data-toggle="CanvasSizeGuide" overlay>
                      <i class="zmdi zmdi-format-line-spacing align-middle"></i>
                      <span class="font-500 f_pr align-middle">{{ 'products.product.label_sizeguide' | t }}</span>
                    </div>
                  </div>
                {% endif %}
                {% if section.settings.show_faq %}
                  <div class="product-single__faq">
                    <div class="product-single__share-ask-sizeguide-title c_h pointer">
                      <i class="zmdi zmdi-comment-text align-middle"></i>
                      <a href="{{ section.settings.faq }}"><span class="font-500 c_h f_pr align-middle">{{ 'products.product.label_faq' | t }}</span></a>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </form>
          {% if section.settings.show_payments %}
            <div class="product-single__payment mb-45">
              <div class="product-single__control-label mb-10">{{ section.settings.title_payments }}</div>
              {% if section.settings.payments != blank %}
                <div class="payments overflow-hidden">
                  <img class="lazyload" data-src="{{ section.settings.payments | img_url: '700x' }}" alt="Payments">
                </div>
              {% else %}
                <div class="payments overflow-hidden row spacing-10">
                  {%- for type in shop.enabled_payment_types -%}
                    <div class="payment__item col">{{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}</div>
                  {%- endfor -%}
                </div>
              {% endif %}
            </div>
          {% endif %}
          <div class="product-single__shiping">
            {% if section.settings.time != blank %}
              <div class="shiping_time d-flex align-items-center" style="{% if section.settings.color_time != blank %}color: {{ section.settings.color_time }};{% endif %}{% if section.settings.size_time != blank %}font-size: {{ section.settings.size_time }}"{% endif %}>
                <i class="zmdi zmdi-time"></i>
                <span>{{ section.settings.time | nofilter }}</span>
              </div>
            {% endif %}
            {% if section.settings.truck != blank %}
              <div class="shiping_truck d-flex align-items-center" style="{% if section.settings.color_truck != blank %}color: {{ section.settings.color_truck }};{% endif %}{% if section.settings.size_truck != blank %}font-size: {{ section.settings.size_truck }}"{% endif %}>
                <i class="rbb-icon-delivery-11"></i>
                <span>{{ section.settings.truck | nofilter }}</span>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'product-single-tab' %}
</div>