{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'
-%}

<input id="variant_id" type="hidden" name="id" value="{{current_variant.id}}" />
{%- unless product.has_only_default_variant -%}
  {%- if section.settings.product_swatch_enable -%}
    <variant-radios class="no-js-hidden mb-20 d-block" data-section="{{ section.id }}" data-url="{{ product.url }}">
      {%- for option in product.options_with_values -%}
        {%- assign optionName = option.name | downcase -%}
        {%- assign option_color_swatch = settings.option_color_swatch | downcase -%}
        {%- assign optionColor = false -%}
        {% if option_color_swatch contains optionName %}
          {% assign optionColor = true %}
        {% endif %}
        <fieldset class="js product-form__input{% if optionColor == true %} variant-color{% endif %}{% if forloop.last == false %} mb-25{% endif %}" data-option-index="{{forloop.index0}}">
          {% assign option_index = forloop.index0 %}
          <legend class="product-single__control-label mb-15">{{ option.name }}: <span class="variant_current">{{ current_variant.options[option_index] }}</span></legend>
          <div class="d-flex flex-wrap">
            {%- for value in option.values -%}
              {%- liquid
                assign option_disabled = true

                for option1_name in variants_option1_arr
                  case option.position
                    when 1
                      if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                        assign option_disabled = false
                      endif
                    when 2
                      if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                        assign option_disabled = false
                      endif
                    when 3
                      if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                        assign option_disabled = false
                      endif
                  endcase
                endfor
              -%}
              {% assign variant_available = false %}
              {% for variant in product.variants %}
                {% if variant.options[option_index] == value and variant.available %}
                  {% assign variant_available = true %}
                {% endif %}
              {% endfor %}
              <div class="product-single__variant-item mb-10">
                <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                  name="{{ option.name }}"
                  value="{{ value | escape }}"
                  form="product-form-{{ section.id }}"
                  {% if option.selected_value == value %}checked{% endif %}
                  {% if option_disabled %}class="disabled"{% endif %}
                >
                <label class="variant-color-{{ value | downcase | handle }}{% if section.settings.img_swatch %} img{% else %} color{% endif %}{% if variant_available == false %} soldout{% endif %}" for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"{% if optionColor == true and section.settings.img_swatch == false %} style="background-color: {{ value }};"{% endif %}>
                {% if optionColor == true and section.settings.img_swatch %}
                  {%- assign isFirstImage = true -%}
                  {% for variant in product.variants %}
                    {% if variant.title contains value and isFirstImage %}
                      <img src="{{ variant.image.src | img_url: '52x' }}">
                      {%- assign isFirstImage = false -%}
                    {% endif %}
                  {% endfor %}
                {% endif %}
                  {{ value }}
                </label>
              </div>
            {%- endfor -%}
          </div>
        </fieldset>
      {%- endfor -%}
      <script type="application/json">
        {{ product.variants | json }}
      </script> 
    </variant-radios>
  {%- else -%}
    <variant-selects class="no-js-hidden mb-20 d-block" data-section="{{ section.id }}" data-url="{{ product.url }}">
      {%- for option in product.options_with_values -%}
        {% assign optionName = option.name | downcase %}
        <div class="product-form__input product-form__input--dropdown mb-15">
          <label class="product-single__control-label mb-10" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}&nbsp;:
          </label>
          <select id="Option-{{ section.id }}-{{ forloop.index0 }}" class="select__select variant-{{ optionName }}" name="options[{{ option.name | escape }}]" form="product-form-{{ section.id }}">
            {%- for value in option.values -%}
              <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                {{ value }}
              </option>
            {%- endfor -%}
          </select>
        </div>
      {%- endfor -%}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- endif -%}
{%- endunless -%}
<select id="productSelect" class="hide">
  {% for variant in product.variants %}
    {% if variant.available %}
      <option value="{{ variant.id }}" data-sku="{{ variant.sku }}" data-qty="{{ variant.inventory_quantity }}"{% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %}>{{ variant.title }}</option>
    {% else %}
      <option value="{{ variant.id }}" data-sku="{{ variant.sku }}" data-qty="{{ variant.inventory_quantity }}" disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
    {% endif %}
  {% endfor %}
</select>