{% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
  {% assign on_sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
{% assign variantCount = product.variants | size %}
{% assign option_color_swatch = settings.option_color_swatch | downcase %}
{% assign url = '' %}
{% for option in product.options_with_values %}
    {% assign option_name = option.name | downcase %}
    {% if option_color_swatch contains option_name %}
      {% assign product_option = option %}
      {% assign index = forloop.index0 %}
      {% assign position = forloop.index | minus: 1 %}
      {% for variant in product.variants limit: 1 %}
        {% if variant.image != null %}
          {% assign url = variant.image.src %}
        {% endif %}
      {% endfor %}
      {% break %}
    {% else %}
      {% assign position = 0 %}
    {% endif %}
{% endfor %}
<div class="item-product b_items text-center{% if settings.b_pro %} h_bd{% endif %}{% if settings.show_bg_product %} bg{% endif %}" data-product-id="product-{{ product.id }}" data-json-product='{"variants": {{ product.variants | json | escape }},"media": {{product.media | json}}}'>
  <div class="inner-top">
    <div class="product-top thumbnail-container{% if product.images.size > 1 %} has-multiimage{% endif %}">
      <a href="{{ product.url | within: collection }}">
        {% assign img_url = product.featured_image %}
        <div class="respone_image" style="padding-top:{{ 1 | divided_by: img_url.aspect_ratio | times: 100}}%;">
            {% assign imagewidths = img_url.width %}
            {%- assign imagealt = img_url.alt | default: product.title | strip_html | escape -%}
            {{ img_url | image_url: width: imagewidths | image_tag:
              loading: 'lazy',
              sizes: sizes,
              class: 'product__thumbnail',
              alt: imagealt,
              widths: '720 1080 1728 2048'
            }}
          {% for image in product.images %}
            {% assign img_url = image.src %}
            {% if forloop.first != true %}
              {{ img_url | image_url: width: imagewidths | image_tag:
                loading: 'lazy',
                sizes: sizes,
                class: 'product__thumbnail-second',
                alt: imagealt,
                widths: '720 1080 1728 2048'
              }}
              {% break %}
            {% endif %}
          {% endfor %}
        </div>
      </a>
      {% assign date_created = product.created_at | date:'%s' %}
      {% assign date_now = 'now' | date:'%s' %}
      {% assign difference = date_now | minus: date_created %}
      {% assign date_end = settings.time_newproduct | times: 86400 %}
      <div class="product--badge">
        {% if product.compare_at_price_min > product.price_min and settings.show_compare_price %}
        <span class="badge badge--sale-pt"><i class="zmdi zmdi-flash"></i>&nbsp;-{{ product.variants[0].compare_at_price | minus: product.variants[0].price | times: 100 | divided_by: product.variants[0].compare_at_price | round: 4 }}%</span>
        {% endif %}
        {% if difference < date_end and settings.show_new %}
          <div class="badge badge--sale-rt mt-5">{{ 'products.product.new' | t }}</div>
        {% endif %}
      </div>
      {% if settings.wishlist_enable or settings.quickview_enable %}
        <div class="button--top">
          {% if settings.wishlist_enable %}
            {% render 'nov-wishlist', id: product.id, handle: product.handle %}
          {% endif %}
          {% if settings.quickview_enable %}
            {% render 'nov-quickview', id: product.variants.first.id, handle: product.handle %}
          {% endif %}
        </div>
      {% endif %}
    </div>
    
    <div class="product__info">
      <div class="product__title"><a href="{{ product.url | within: collection }}"><span>{{ product.title }}</span></a></div>
      {% if settings.show_rating %}
        <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge'>{{ product.metafields.judgeme.badge }}</div>
      {% endif %}
      <div class="price-box mt-10">
        {% if on_sale %}
        <div class="price-sale">
          <span class="special-price" data-price-grid>{{ product.variants[0].price | money }}</span>
          <span class="old-price" data-compare-price-grid>{{ product.variants[0].compare_at_price | money }}</span>
        </div>
        {% else %}
          <div class="price-regular">
            <span data-price-grid>{{ product.variants[0].price | money }}</span>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="group-buttons">
      {% render 'add-to-cart-form', product: product, sold_out: sold_out, id: 'grid-product-form-', position: position, sectionId: sectionId, blockId: blockId %}
    </div>
  </div>
</div>
