{% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
  {% assign on_sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
{% assign variantCount = product.variants | size %}
{% assign option_color_swatch = settings.option_color_swatch | downcase %}
{% assign url = '' %}
{% for option in product.options_with_values %}
    {% assign option_name = option.name | downcase %}
    {% if option_color_swatch contains option_name %}
        {% assign product_option = option %}
        {% assign index = forloop.index0 %}
        {% assign position = forloop.index | minus: 1 %}
        {% for variant in product.variants limit: 1 %}
          {% if variant.image != null %}
            {% assign url = variant.image.src %}
          {% endif %}
        {% endfor %}
        {% break %}
    {% else %}
        {% assign position = 0 %}
    {% endif %}
{% endfor %}
<div class="item-product mb-0{% if settings.b_pro %} h_bd{% endif %}{% if settings.show_bg_product %} bg{% endif %}" data-product-id="product-{{ product.id }}" data-json-product='{"id": {{product.id}},"handle": "{{product.handle}}","variants": {{ product.variants | json | escape }},"media": {{product.media | json}}}'>
  <div class="inner-top align-items-center">
    <div class="row">
      <div class="col-xl-6 col-lg-5 col-md-6 col-xs-12">
        <div class="thumbnail-container{% if product.images.size > 1 %} has-multiimage{% endif %}">
          <a href="{{ product.url | within: collection }}"  data-index="0">
            {% assign img_url = product.featured_image %}
            <div class="respone_image" style="padding-top:{{ 1 | divided_by: img_url.aspect_ratio | times: 100}}%;">
              <img class="product__thumbnail lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E" 
                data-src="{{ img_url | img_url: '180x' }}" 
                data-srcset="{{ img_url | img_url: '180x' }} 180w,{{ img_url | img_url: '360x' }} 360w,{{ img_url | img_url: '540x' }} 540w,{{ img_url | img_url: '720x' }} 720w,{{ img_url | img_url: '900x' }} 900w,{{ img_url | img_url: '1080x' }} 1080w,{{ img_url | img_url: '1296x' }} 1296w,{{ img_url | img_url: '1512x' }} 1512w,{{ img_url | img_url: '1728x' }} 1728w, {{ img_url | img_url: '2048x' }} 2048w" 
                data-sizes="auto" alt="{{ img_url.alt }}">
              {% for image in product.images %}
                {% assign img_url = image.src %}
                {% if forloop.first != true %}
                  <img class="product__thumbnail-second lazyload" 
                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E" 
                    data-src="{{ img_second | img_url: '180x' }}" data-srcset="{{ img_url | img_url: '180x' }} 180w,{{ img_url | img_url: '360x' }} 360w,{{ img_url | img_url: '540x' }} 540w,{{ img_url | img_url: '720x' }} 720w,{{ img_url | img_url: '900x' }} 900w,{{ img_url | img_url: '1080x' }} 1080w,{{ img_url | img_url: '1296x' }} 1296w,{{ img_url | img_url: '1512x' }} 1512w,{{ img_url | img_url: '1728x' }} 1728w, {{ img_url | img_url: '2048x' }} 2048w" 
                    data-sizes="auto" 
                    alt="{{ img_url.alt }}">
                  {% break %}
                {% endif %}
              {% endfor %}
            </div>
          </a>
          {% assign date_created = product.created_at | date:'%s' %}
          {% assign date_now = 'now' | date:'%s' %}
          {% assign difference = date_now | minus: date_created %}
          {% assign date_end = settings.time_newproduct | times: 86400 %}
          <div class="product--badge">
            {% if product.compare_at_price > product.price and settings.show_compare_price %}
            <span class="badge badge--sale-pt"><i class="zmdi zmdi-flash"></i>&nbsp;-{{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round: 4 }}%</span>
            {% endif %}
            {% if difference < date_end and settings.show_new %}
              <div class="badge badge--sale-rt mt-5">{{ 'products.product.new' | t }}</div>
            {% endif %}
          </div>
          {% render 'item-swatch', product: product, option_color_swatch: option_color_swatch, downcased_option: option_name, product_option: product_option, index: index %}
          <div class="countdownfree d-flex justify-content-center align-items-center mb-sm-15" data-countdown="{{ countdown_timeend }}" data-show-days="{{ settings.show_day }}" data-restart="{{ settings.restart }}"></div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7 col-md-6 col-xs-12">
        <div class="product__info">
          <div class="product__title mt-10"><a href="{{ product.url | within: collection }}"><span>{{ product.title }}</span></a></div>
          {% if settings.show_rating %}
            {% render 'judgeme_widgets'
           , widget_type: 'judgeme_preview_badge'
           , jm_style: ''
           , concierge_install: true
           , product: product %}
         {% endif %}
          <div class="price-box mt-10">
            {% if on_sale %}
              <div class="price-sale">
                <span class="special-price" data-price-grid>{{ product.variants[0].price | money }}</span>
                <span class="old-price" data-compare-price-grid>{{ product.variants[0].compare_at_price | money }}</span>
              </div>
            {% else %}
              <div class="price-regular">
                <span data-price-grid>{{ product.variants[0].price | money }}</span>
              </div>
            {% endif %}
          </div>
          <div class="group-buttons d-flex">
            {% render 'add-to-cart-form', product: product, sold_out: sold_out, id: 'grid-product-form-', position: position, sectionId: sectionId %}
            {% if settings.wishlist_enable or settings.quickview_enable %}
              {% if settings.wishlist_enable %}
                {% render 'nov-wishlist', id: product.id, handle: product.handle %}
              {% endif %}
              {% if settings.quickview_enable %}
                {% render 'nov-quickview', id: product.variants.first.id, handle: product.handle %}
              {% endif %}
            {% endif %}
          </div>
          <div class="product_desc mt-20">{{ product.description | strip_html | truncatewords: 15 }}</div>
          {%- assign productStartCount = product.metafields.stock.initial | times:1 -%}
          {% if product.metafields.stock.initial != blank %}
            <div class="deal-flash__sale mt-35">
              {% if product.variants.size < 2 %}
                {%- assign available = product.selected_or_first_available_variant.inventory_quantity -%}
                {%- assign sold = productStartCount | minus:available | times: 100 | divided_by : productStartCount -%}
                <div class="deal-flash__sale-progress position-relative" style="background-color: {{ settings.progress_deal }}">
                  <div class="progress__bar position-absolute" style="width: {{ sold }}%;background: {% if settings.enable_rtl %}{{ settings.gradient_deal | replace: '90deg', '-90deg' }}{% else %}{{ settings.gradient_deal }}{% endif %}"></div>
                </div>
                <div class="flash__sale-bottom font-500 mt-10">
                  {{ 'sections.product_deals.progress_html' | t: sold: sold, available: available }}
                </div>
                
              {% elsif product.variants.size > 1 %}
                {% assign available = 0 %}
                {% for variant in product.variants %}
                  {% assign available = available | plus: variant.inventory_quantity %}
                {% endfor %}
                {%- assign sold = productStartCount | minus:available | times: 100 | divided_by : productStartCount -%}
                <div class="deal-flash__sale-progress position-relative" style="background-color: {{ settings.progress }}">
                  <div class="progress__bar position-absolute" style="width: {{ sold }}%;background: {% if settings.enable_rtl %}{{ settings.gradient_deal | replace: '90deg', '-90deg' }}{% else %}{{ settings.gradient_deal }}{% endif %}"></div>
                </div>
                <div class="flash__sale-bottom font-500 mt-10">
                  {{ 'sections.product_deals.progress_html' | t: sold: sold, available: available }}
                </div>
              {% endif %}
            </div>
          {% endif %}
          {% render 'item-swatch', product: product, option_color_swatch: option_color_swatch, downcased_option: option_name, product_option: product_option, index: index %}
        </div>
      </div>
    </div>
  </div>
</div>