{% assign sst = section.settings %}
{% if sst.xxl == 5 %}
  {%- assign xxl = 'col-xxl-cus-5' -%}
{% else %}
  {%- assign xxl = 12 | divided_by: sst.xxl | prepend: 'col-xxl-' -%}
{% endif %}
{% if sst.xl == 5 %}
  {%- assign xl = 'col-xl-cus-5' -%}
{% else %}
  {%- assign xl = 12 | divided_by: sst.xl | prepend: 'col-xl-' -%}
{% endif %}
{% if sst.lg == 5 %}
  {%- assign lg = 'col-lg-cus-5' -%}
{% else %}
  {%- assign lg = 12 | divided_by: sst.lg | prepend: 'col-lg-' -%}
{% endif %}
{% if sst.md == 5 %}
  {%- assign md = 'col-md-cus-5' -%}
{% else %}
  {%- assign md = 12 | divided_by: sst.md | prepend: 'col-md-' -%}
{% endif %}
{% if sst.sm == 5 %}
  {%- assign sm = 'col-sm-cus-5' -%}
{% else %}
  {%- assign sm = 12 | divided_by: sst.sm | prepend: 'col-sm-' -%}
{% endif %}
{% if sst.xs == 5 %}
  {%- assign xs = 'col-xs-cus-5' -%}
{% else %}
  {%- assign xs = 12 | divided_by: sst.xs | prepend: 'col-' -%}
{% endif %}
<div class="distance{% if sst.class != blank %} {{ sst.class }}{% endif %}{% if sst.animate == true %} wow fadeInUp animated{% endif %}">
  {% if sst.container == 'container' %}
    <div class="container">
  {% elsif sst.container == 'container-fluid' %}
    <div class="container-fluid">
  {% else %}
    <div class="container-full">
  {% endif %}
    {% if sst.heading != blank or sst.subheading != blank %}
      <div class="title_section {{ sst.title_alignment }}">
        {% if sst.heading != blank %}
          <span class="title" style="color: {{ sst.heading_c }};">{{ sst.heading }}</span>
        {% endif %}
        {% if sst.subheading != blank %}
          <span class="sub_title" style="color: {{ sst.subheading_c }};">{{ sst.subheading }}</span>
        {% endif %}
      </div>
    {% endif %}
    <div class="row spacing-{{ sst.spacing }}">
      {% for block in section.blocks %}
        {% assign bst = block.settings %}
        <div class="block-{{ forloop.index }} {{ xxl }} {{ xl }} {{ lg }} {{ md }} {{ sm }} {{ xs }} mb-{{ sst.spacing }}{% if bst.class != blank %} {{ bst.class }}{% endif %}">
          <div class="block-content text-{{ bst.text_align }}">
            <div class="block-image h-100">
              {% if bst.image != blank %}
                <img data-src="{{ bst.image | img_url: '' }}" class="lazyload" alt="{{ bst.image.alt }}">
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
            {% if bst.cta_label != blank or bst.cta_label2 != blank %}
              <div class="block-caption">
                {% if bst.cta_label != blank %}
                <div class="caption-title font_pr" style="color: {{ bst.cta_label_c }}">{{ bst.cta_label }}</div>
                {% endif %}
                {% if bst.cta_label2 != blank %}
                  <div class="caption-desc" style="color: {{ bst.cta_label2_c }}">{{ bst.cta_label2 }}</div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div><!-- End row -->
  </div><!-- End container -->
</div>
{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}
{% schema %}
  {
    "name": "Vinova Feature",
    "class": "section-feature",
    "max_blocks": 6,
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Vinova Feature</p>"
      },
      {
        "type": "color",
        "id": "heading_c",
        "label": "Heading color",
        "default": "#222222"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Sub heading",
        "default": "<p>Subtitle from happy customers</p>"
      },
      {
        "type": "color",
        "id": "subheading_c",
        "label": "Sub heading color",
        "default": "#666666"
      },
      {
        "type": "select",
        "id": "title_alignment",
        "label": "Heading alignment",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type":  "header",
        "content": "Item per row"
      },
      {
        "type": "range",
        "id": "xxl",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Extra desktop 1440px ↑",
        "default": 4
      },
      {
        "type": "range",
        "id": "xl",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Large desktop 1200px ↑",
        "default": 4
      },
      {
        "type": "range",
        "id": "lg",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Desktop 992px ↑",
        "default": 4
      },
      {
        "type": "range",
        "id": "md",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Tablet 768px ↑",
        "default": 4
      },
      {
        "type": "range",
        "id": "sm",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Large mobile 576px ↑",
        "default": 4
      },
      {
        "type": "range",
        "id": "xs",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Mobile 575px ↓",
        "default": 1
      },
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "range",
        "id": "spacing",
        "min": 0,
        "max": 60,
        "step": 5,
        "label": "Spacing items",
        "default": 0
      },
      {
        "type": "header",
        "content": "Block caption"
      },
      {
        "type": "number",
        "id": "cta_label_n",
        "label": "Caption 1 font size"
      },
      {
        "type": "range",
        "id": "cta_label_mb",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Margin bottom",
        "default": 10,
        "info": "========================"
      },
      {
        "type": "number",
        "id": "cta_label2_n",
        "label": "Caption 2 font size"
      },
      {
        "type": "header",
        "content": "Design section"
      },
      {
        "type": "checkbox",
        "id": "animate",
        "label": "Show animated",
        "default":   true
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "select",
        "id": "container",
        "label": "Container",
        "default": "container",
        "options": [
          { "value": "container", "label": "Container" },
          { "value": "container-fluid", "label": "Container fluid" },
          { "value": "container-full", "label": "Container full width" }
        ]
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "number",
        "id": "px",
        "label": "Horizontally spacing section (px)",
        "default": 0
      },
      {
        "type": "number",
        "id": "distance_top",
        "label": "Top spacing section (px)",
        "default": 30
      },
      {
        "type": "number",
        "id": "distance_bottom",
        "label": "Bottom spacing section (px)",
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "========================"
          },
          {
            "type": "inline_richtext",
            "id": "cta_label",
            "label": "Caption 1"
          },
          {
            "type": "color",
            "id": "cta_label_c",
            "label": "Caption 1 color",
            "default": "#222222"
          },
          {
            "type": "inline_richtext",
            "id": "cta_label2",
            "label": "Caption 2"
          },
          {
            "type": "color",
            "id": "cta_label2_c",
            "label": "Caption 2 color",
            "default": "#666666"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "color",
            "id": "bg_item",
            "label": "Background colors"
          },
          {
            "type": "header",
            "content": "Padding"
          },
          {
            "type": "range",
            "id": "pt",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 0
          },
          {
            "type": "range",
            "id": "pl",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding left",
            "default": 0
          },
          {
            "type": "range",
            "id": "pr",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding right",
            "default": 0
          },
          {
            "type": "range",
            "id": "pb",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom",
            "default": 0
          },
          {
            "type": "text",
            "id": "class",
            "label": "Class"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vinova Feature",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
  {%- assign bg_image = sst.background_image -%}
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ sst.distance_top | append: 'px' }};
    padding-bottom: {{ sst.distance_bottom | append: 'px' }};
    padding-left: {{ sst.px | append: 'px' }};
    padding-right: {{ sst.px | append: 'px' }};
    {% if sst.background_color != blank or  bg_image.src != blank %}
      background: {{ sst.background_color }}{% if sst.bg_image %} url("{{ bg_image | img_url: '1920x' }}") center{% endif %};
      background-size: cover;
    {% endif %}
  }
  @media(max-width: 767px) {
    #shopify-section-{{ section.id }} .distance {
      {%- if sst.distance_top > 20 -%}padding-top: {{ sst.distance_top | times: 0.7 | round: 0 | append: 'px' }};{%- endif -%}
      {%- if sst.distance_bottom > 20 -%}padding-bottom: {{ sst.distance_bottom | times: 0.7 | round: 0 | append: 'px' }};{%- endif -%}
    }
  }
  #shopify-section-{{ section.id }} .caption-title {
    font-size: {{ sst.cta_label_n | times: 0.7 | append: 'px' }};
    margin-bottom: {{ sst.cta_label_mb | times: 0.7 | append: 'px' }};
  }
  #shopify-section-{{ section.id }} .caption-desc {
    font-size: {{ sst.cta_label2_n | times: 0.7 | append: 'px' }};
    margin-bottom: {{ sst.cta_label2_mb | times: 0.7 | append: 'px' }};
  }
  @media(min-width: 1200px) {
    #shopify-section-{{ section.id }} .caption-title {
      font-size: {{ sst.cta_label_n | append: 'px' }};
      margin-bottom: {{ sst.cta_label_mb | append: 'px' }};
    }
    #shopify-section-{{ section.id }} .caption-desc {
      font-size: {{ sst.cta_label2_n | append: 'px' }};
    }
  }
  {% for block in section.blocks %}
    {% assign bst = block.settings %}
    #shopify-section-{{ section.id }} .block-{{ forloop.index }} .block-content {
      background-color: {{ bst.bg_item }};
      padding-top: {{ bst.pt }}px;
      padding-bottom: {{ bst.pb }}px;
      {% if settings.enable_rtl == false %}
        padding-left: {{ bst.pl }}px;
        padding-right: {{ bst.pr }}px;
      {% else %}
        padding-left: {{ bst.pr }}px;
        padding-right: {{ bst.pl }}px;
      {% endif %}
    }
  {% endfor %}
</style>
