{% assign sst = section.settings %}
{% assign limit = sst.limit %}
{% assign xxl = sst.grid_number_xxl %}
{% assign xl = sst.grid_number %}
{% assign lg = sst.grid_number_lg %}
{% assign md = sst.grid_number_md %}
{% assign sm = sst.grid_number_sm %}
{% assign xs = sst.grid_number_xs %}
{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}
{{ 'vendor.js' | asset_url | script_tag }}
<div class="distance{% if sst.class != blank %} {{ sst.class }}{% endif %}">
  {% if sst.container == 'container' %}
    <div class="container">
  {% elsif sst.container == 'container-fluid' %}
    <div class="container-fluid">
  {% else %}
    <div class="container-full">
  {% endif %}
    {% if sst.heading != blank or sst.subheading != blank %}
      <div class="title_section mb-50 {{ sst.title_alignment }}{% if sst.show_nav == true %} s_nav{% endif %}">
        {% if sst.heading != blank %}
          <span class="title" style="color: {{ sst.heading_c }};">{{ sst.heading }}</span>
        {% endif %}
        {% if sst.subheading != blank %}
          <span class="sub_title" style="color: {{ sst.subheading_c }};">{{ sst.subheading }}</span>
        {% endif %}
      </div>
    {% endif %}
    <div id="recently-viewed-products" class="row grid--view-items spacing-30 spacing-xs-15" style="display: none;">
    </div>
    {% raw %}
      <script id="recently-viewed-product-template" type="text/x-jquery-tmpl">
      <div class="item p_item">
        <div class="item-product{% endraw %}{% if settings.b_pro %} h_bd{% endif %}{% raw %}">
          <div class="inner-top">
            <div class="product-top thumbnail-container {{if images[1] != null}} has-multiimage{{/if}}">
              <a href="${url}" class="w-100" data-index="0">
                <img class="product__thumbnail lazyload" data-src="${Shopify.Products.resizeImage(featured_image, "360x")}">
                {{if images[1] != null}}
                  <img class="product__thumbnail-second lazyload" data-src="${Shopify.Products.resizeImage(images[1], "360x")}">
                {{/if}}
              </a>
              <div class="product--badge">
                {{if compare_at_price_min > price_min }}
                <span class="badge badge--sale-pt">-${Math.round((compare_at_price_min - price_min)*100/compare_at_price_min)}%</span>
                {{/if}}
              </div>
              {% endraw %}
              {% if settings.wishlist_enable or settings.quickview_enable %}
              <div class="button--top">
              {% if settings.wishlist_enable %}
              {% raw %}
                <div class="productWishList">
                  <a class="btnProductWishlist item-product__wishlist" data-icon-wishlist href="#" data-product-handle="${handle}" data-id="${id}"{% endraw %} {% if settings.tooltip_enable %}{% raw %} data-toggle="tooltip" data-placement="top"{% endraw %} title="{{ 'products.butttons.wishlist' | t }}" {% endif %}{% raw %}>
                    <i class="zmdi zmdi-favorite"></i>
                  </a>
                </div>
              {% endraw %}
              {% endif %}
              {% if settings.quickview_enable %}
              {% raw %}
                <div class="productQuickView d-none d-md-block">
                  <a class="btnProductQuickview" href="#" data-url="/products/${handle}?view=quick_view" data-product-url="/products/${handle}" data-handle="${handle}" data-pid="${variants[0].id}"{% endraw %}{% if settings.tooltip_enable %}{% raw %} data-toggle="tooltip" data-placement="top"{% endraw %} title="{{ 'products.butttons.quickview' | t }}" {% endif %}{% raw %}>
                    <i class="zmdi zmdi-collection-image-o"></i>
                  </a>
                </div>
              {% endraw %}
              {% endif %}
                </div>
              {% endif %}
              {% raw %}
            </div>
            <div class="product__info">
              <div class="product__title"><a href="${url}">${title}</a></div>
              <div class="price-box mt-5">
                {{if compare_at_price_min > price_min }}
                  <div class="price-sale">
                    <span class="special-price" data-price-grid><span class="money">{{html Shopify.formatMoney(price_min, window.money_format)}}</span></span>
                    <span class="old-price" data-compare-price-grid><span class="money">{{html Shopify.formatMoney(compare_at_price_min, window.money_format)}}</span></span>
                  </div>
                {{else}}
                  <div class="price-regular">
                    <span data-price-grid><span class="money">{{html Shopify.formatMoney(price_min, window.money_format)}}</span></span>
                  </div>
                {{/if}}
              </div>
              {% endraw %}
              {% if settings.use_color_swatch %}
              {% raw %}
                {{each options}}
                  ${( name_option = name.toLowerCase() ),''}
                  ${( colorlist = '' ),''}
                  ${( optionCount = 0 ),''}
                  ${( count = 0 ),''}
                  {{if name_option == 'color' }}
                    <ul class="item-swatch p-0">
                      ${( val = 0 ),''}
                      {{each values}} 
                      ${( color = 0 ),''}
                      {{each variants}}
                      {{if position == 1}}
                      ${( color = variants[($index)].option1 ),''}
                      ${( valu = values.length - 1 ),''}
                      {{/if}}
                      {{if position == 2}}
                      ${( color = variants[($index)].option2 ),''}
                      ${( valu = values.length - 1 ),''}
                      {{/if}}
                      {{if position == 3}}
                      ${( color = variants[($index)].option3 ),''}
                      ${( valu = values.length - 1 ),''}
                      {{/if}}
                      ${( temp = ''),''}
                      ${( temp = temp.concat(";",color) ),''}
                      {{if colorlist.indexOf(temp) < 0}}
                      {{if count < 3}}
                      <li{% endraw %}{% if settings.tooltip_enable %}{% raw %} data-toggle="tooltip"{% endraw %}{% endif %}{% raw %} title="${color}">
                        <label class="{% endraw %}{% if settings.color_swatch_style =='variant' %}img{% else %}color{% endif %}{% raw %} variant-color-${color.toLowerCase().replace(" ", "-")}{{if count == 0}} active{{/if}}"{{if variants[($index)].featured_image != null}} data-img="${variants[($index)].featured_image.src}"{{/if}} data-id-product="${id}" data-title="${color}" style="background-color: ${color};{{if color.toLowerCase() == 'white'}}border: 1px solid #d1d1d1;{{/if}}">{% endraw %}{% if settings.color_swatch_style =='variant' %}{% raw %}{{if variants[($index)].featured_image != null}} <img src="${variants[($index)].featured_image.src}">{{/if}}{% endraw %}{% endif %}{% raw %}</label>
                      </li>
                      {{else}}
                        ${( count1 = count ),''}
                        ${( count2 = valu ),''}
                          {{if count1 == 3}}
                            <li class="group-swatch" style="display: none">
                          {{/if}}
                            <div>
                              <label data-toggle="tooltip" class="{% endraw %}{% if settings.color_swatch_style =='variant' %}img{% else %}color{% endif %}{% raw %} variant-color-${color.toLowerCase().replace(" ", "-")}{{if count == 0}} active{{/if}}"{{if variants[($index)].featured_image != null}} data-img="${variants[($index)].featured_image.src}"{{/if}} data-title="${color}" style="background-color: ${color};{{if color.toLowerCase() == 'white'}}border: 1px solid #d1d1d1;{{/if}}">
                                {% endraw %}{% if settings.color_swatch_style =='variant' %}{% raw %}{{if variants[($index)].featured_image != null}} <img src="${variants[($index)].featured_image.src}">{{/if}}{% endraw %}{% endif %}{% raw %}
                              </label>
                            </div>
                          {{if count == valu }}
                            </li>
                          {{/if}}
                      {{/if}}
                      ${( optionCount ++ ),''}
                      ${( count = optionCount / 4 ),''}
                      {{/if}}
                      ${( colorlist = colorlist.concat(";",color) ),''}
                      {{/each}}
                      {{/each}}
                      ${( count = optionCount / 4 ),''}
                      {{if count > 3}}
                      <li class="item-swatch-more">
                        <a href="javascript:void(0)">
                          <span>+</span> ${count - 3}
                        </a>
                      </li>
                      {{/if}}
                    </ul>
                  {{/if}}
                {{/each}}
              {% endraw %}
              {% endif %}
              {% raw %}
            </div>
          </div>
        </div>
      </div>
      </script>
    {% endraw %}
    <script>
      Shopify.Products.showRecentlyViewed({
        howManyToShow: {{ limit }},
        wrapperId: 'recently-viewed-products',
        templateId: 'recently-viewed-product-template',
        onComplete: function() {
          if ($('html').hasClass('lang-rtl')) {
            var rtl = true
          } else {
            var rtl = false
          }
          if(!$('#recently-viewed-products').hasClass('slick-initialized')) {
            $('#recently-viewed-products').slick({
                nextArrow: '<div class="arrow-next"><i class="zmdi zmdi-chevron-right"></i></div>',
                prevArrow: '<div class="arrow-prev"><i class="zmdi zmdi-chevron-left"></i></div>',
                slidesToShow: {{ xxl }},
                slidesToScroll: {{ xxl }},
                dots: false,
                arrows: true,
                rtl: rtl,
                responsive: [
                  {
                    breakpoint: 1440,
                    settings: {
                      slidesToShow: {{ xl }},
                      slidesToScroll: {{ xl }}
                    }
                  },
                  {
                    breakpoint: 1200,
                    settings: {
                      slidesToShow: {{ lg }},
                      slidesToScroll: {{ lg }}
                    }
                  },
                  {
                    breakpoint: 992,
                    settings: {
                      slidesToShow: {{ md }},
                      slidesToScroll: {{ md }},
                      arrows: false,
                    }
                  },
                  {
                    breakpoint: 768,
                    settings: {
                      slidesToShow: {{ sm }},
                      slidesToScroll: {{ sm }}
                    }
                  },
                  {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: {{ xs }},
                        slidesToScroll: {{ xs }}
                    }
                  }
                ]
            });
          }
        }
    });
    </script>
  </div>
</div>
{% schema %}
  {
    "name": "Vinova Recently Viewed",
    "class": "section-recently-viewed",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Vinova Recently Viewed</p>"
      },
      {
        "type": "color",
        "id": "heading_c",
        "label": "Heading color",
        "default": "#222222"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Sub heading",
        "default": "<p>Subtitle from happy customers</p>"
      },
      {
        "type": "color",
        "id": "subheading_c",
        "label": "Sub heading color",
        "default": "#666666"
      },
      {
        "type": "select",
        "id": "title_alignment",
        "label": "Heading alignment",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type":  "header",
        "content": "Product item per row"
      },
      {
        "type": "range",
        "id": "grid_number_xxl",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Products per row 1440px ↑",
        "default": 5
      },
      {
        "type": "range",
        "id": "grid_number",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Products per row large desktop",
        "default": 3,
        "info": "Breakpoint 1200px ↑"
      },
      {
        "type": "range",
        "id": "grid_number_lg",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Products per row desktop",
        "default": 3,
        "info": "Breakpoint 1199px ↓"
      },
      {
        "type": "range",
        "id": "grid_number_md",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Products per row tablet",
        "default": 3,
        "info": "Breakpoint 991px ↓"
      },
      {
        "type": "range",
        "id": "grid_number_sm",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Products per row mobile",
        "default": 2,
        "info": "Breakpoint 767px ↓"
      },
      {
        "type": "range",
        "id": "grid_number_xs",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Products per row small mobile",
        "default": 2,
        "info": "Breakpoint 575px ↓"
      },
      {
        "type": "range",
        "id": "limit",
        "min": 4,
        "max": 30,
        "step": 1,
        "label": "Limit",
        "default": 30,
        "info": "Select number limit products"
      },
      {
        "type":  "header",
        "content": "Slider options"
      },
      {
        "type": "checkbox",
        "id": "show_nav",
        "label": "Show navigation",
        "default": false
      },
      {
        "type":  "header",
        "content": "Design option"
      },
      {
        "type": "checkbox",
        "id": "animate",
        "label": "Show animated",
        "default": true
      },
      {
        "type": "select",
        "id": "container",
        "label": "Container",
        "default": "container",
        "options": [
          { "value": "container", "label": "Container" },
          { "value": "container-fluid", "label": "Container fluid" },
          { "value": "container-full", "label": "Container full width" }
        ]
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "number",
        "id": "distance_top",
        "label": "Top spacing section (px)",
        "default": 30
      },
      {
        "type": "number",
        "id": "distance_bottom",
        "label": "Bottom spacing section (px)",
        "default": 30
      }
    ]
  }
{% endschema %}
{%- assign bg_image = sst.background_image -%}
<style>
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ sst.distance_top }}px;
    padding-bottom: {{ sst.distance_bottom }}px;
    {% if sst.background_color != blank %}
      background-color: {{ sst.background_color }};
    {% endif %}
    {% if bg_image.src != blank %}
      background-image: url("{{ bg_image | img_url: '1920x' }}");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
    {% endif %}
  }
  @media(max-width: 991px) {
    #shopify-section-{{ section.id }} .distance {
      {%- if sst.distance_top > 20 -%}padding-top: {{ sst.distance_top | times: 0.7 | round: 0 | append: 'px' }};{%- endif -%}
      {%- if sst.distance_bottom > 20 -%}padding-bottom: {{ sst.distance_bottom | times: 0.7 | round: 0 | append: 'px' }};{%- endif -%}
    }
  }
</style>