{% assign sst = section.settings %}
<div class="distance{% if sst.class != blank %} {{ sst.class }}{% endif %}{% if sst.animate == true %} wow fadeInUp animated{% endif %}">
  {% if sst.container == "container" %}
    <div class="container">
  {% endif %}
  {% if sst.container == "container-fluid" %}
    <div class="container-fluid">
  {% endif %}
  {% if sst.container == "container-full" %}
    <div class="container-full"> 
  {% endif %} 
  
  {% if sst.ttle != blank or sst.sub_title != blank %}
    <div class="block_title mb-60 {{ sst.text_alignment }}">
      {% if sst.ttle != blank %}
        <div class="head_title mb-0" style="color: {{ sst.c_h_text }};">{{ sst.ttle }}</div>
      {% endif %}
      {% if sst.sub_title != blank %}
        <div class="sub_title" style="color: {{ sst.c_subt }}">{{ sst.sub_title }}</div>      
      {% endif %}
    </div>
  {% endif %}
  <div class="block_section">
    <div class="row align-items-center justify-content-center">
      {% for block in section.blocks %}
        {% assign bst = block.settings %}
        {% case block.type %}
          {% when 'block_text' %}
            <div class="block-text col-md-3 {{ bst.text_alignment }}">
              {% for i in (1..2) %}
                {% assign titleID = "title" |  append: i %}
                {% assign descriptionID = "desc" | append: i %}
                {% assign img_ic_textID = "img_ic_text" | append: i %}
                <div class="block_content mb-70 align-items-center justify-content-start">
                  <div class="text_icon">
                    {% if bst[img_ic_textID] != blank %}
                      {% liquid
                        assign imagewidths = bst[img_ic_textID].width 
                        assign imgalt = bst[img_ic_textID] | default: bst[img_ic_textID].alt | strip_html | escape
                        assign imgWidths = '55 80 100 200' %}
                      {{ bst[img_ic_textID] | image_url: width: imagewidths | image_tag: 
                        loading: 'lazy',
                        class: 'img-fluid',
                        alt: imgalt,
                        widths: imgWidths
                      }}
                    {% endif %}
                  </div>
                  <div class="text_content">
                    {% if bst[titleID] != blank %}
                      <div class="title"  style = "color: {{ bst.c_title }};">{{ bst[titleID] }}</div>
                    {% endif %}
                    {% if bst[descriptionID] != blank %}
                      <div class="t_desc" style = "color: {{ bst.c_desc }};">{{ bst[descriptionID] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>	
          {% when 'block_image' %}
            <div class="block-image col-md-6">
              {% if bst.banner_img != blank %}
                {% liquid
                  assign imagewidths = bst.banner_img.width
                  assign imgalt = bst.banner_img | default: bst.banner_img.alt | strip_html | escape
                  assign imgwidths = '519, 750, 1100, 1500, 1780, 2048'
                %}
                {{ bst.banner_img |  image_url: width: imagewidths | image_tag:
                  loading: 'lazy',
                  class: 'img-fluid',
                  alt: imgalt,
                  widths: imgwidths
                }}
              {% endif %}
            </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>  
</div>
{% schema %}
  {
    "name": "Vinova Image With text 3",
    "class": "section-img-text3",
    "settings": [
      {
        "type": "header",
        "content": "Block Content Text"
      },
      {
        "type": "richtext",
        "id": "ttle", 
        "label": "Title",
        "default": "<p>We Grow Best Food</p>"
      },
      {
        "type": "color",
        "id": "c_h_text",
        "label": "Color Heading"
      },
      {
        "type": "number",
        "id": "fs_text",
        "label": "Font-size heading (px)",
        "default": 28
      },
      {
        "type": "select",
        "id": "fw_tt",
        "label": "Font weight",
        "default": "400",
        "options": [
          { "value": "300", "label": "Light" },
          { "value": "400", "label": "Regular" },
          { "value": "500", "label": "Medium" },
          { "value": "600", "label": "Semibold" },
          { "value": "700", "label": "Bold" },
          { "value": "800", "label": "Extrabold" },
          { "value": "900", "label": "Black" }
        ]
      },
      {    
        "type": "richtext",
        "id": "sub_title",
        "label": "Sub Title"
      },
      {
        "type": "color",
        "id": "c_subt",
        "label": "Color Sub Heading Text"
      },
      {
        "type": "number",
        "id": "fs_tt2",
        "label": "Font-size sub heading (px)",
        "default": 13
      },
      {
        "type": "select",
        "id": "fw_subt",
        "label": "Font weight",
        "default": "400",
        "options": [
          { "value": "300", "label": "Light" },
          { "value": "400", "label": "Regular" },
          { "value": "500", "label": "Medium" },
          { "value": "600", "label": "Semibold" },
          { "value": "700", "label": "Bold" },
          { "value": "800", "label": "Extrabold" },
          { "value": "900", "label": "Black" }
        ]
      },
      {
        "type": "image_picker",
        "id": "bg_section",
        "label": "Background section"
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "header",
        "content": "Design Option"
      },
      {
        "type": "select",
        "id": "container",
        "label": "Container",
        "default": "container",
        "options": [
          { "value": "container", "label": "Container" },
          { "value": "container-fluid", "label": "Container fluid" },
          { "value": "container-full", "label": "Container full width" }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "text-left",
        "options": [
          { "value": "text-left", "label": "Text left" },
          { "value": "text-center", "label": "Text center" },
          { "value": "text-right", "label": "Text right" }
        ]
      },
      {
        "type": "checkbox",
        "id": "animate",
        "label": "Show animate",
        "default": true
      },
      {
        "type": "color",
        "id": "c_bg",
        "label": "Backround color"
      },
      {
        "type": "number",
        "id": "distance_top",
        "label": "Top Spacing Section (px)",
        "default": 30
      },
      {
        "type": "number",
        "id": "distance_bottom",
        "label": "Bottom Spacing Section (px)",
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "block_text",
        "name": "Text",
        "settings": [
          {
            "type": "image_picker",
            "id": "img_ic_text1",
            "label": "Icon Image Text 1"
          },
          {
            "type": "richtext",
            "id": "title1",
            "label": "Block title 1"
          },
          {
            "type": "richtext",
            "id": "desc1",
            "label": "Description 1"
          },
          {
            "type": "image_picker",
            "id": "img_ic_text2",
            "label": "Icon Image Text 2"
          },
          {
            "type": "richtext",
            "id": "title2",
            "label": "Block title 2"
          },
          {
            "type": "richtext",
            "id": "desc2",
            "label": "Description 2"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "text-left",
            "options": [
              { "value": "text-left", "label": "Text left" },
              { "value": "text-center", "label": "Text center" },
              { "value": "text-right", "label": "Text right" }
            ]
          },
          {
            "type": "color",
            "id": "c_title",
            "label": "Color Title"
          },
          {
            "type": "color",
            "id": "c_desc",
            "label": "Color Description"
          },
          {
            "type": "number",
            "id": "fsz_ti",
            "label": "Font size title (px)",
            "default": 16
          },
          {
            "type": "number",
            "id": "fsz_d",
            "label": "Font size description (px)",
            "default": 16
          }
        ]
      },
      {
        "type": "block_image",
        "name": "Image",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vinova Image With Text 3",
        "blocks": [
          {
            "type": "block_text"
          }, 
          {
            "type": "block_image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% style %}
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ sst.distance_top | append: 'px'}};
    padding-bottom: {{ sst.distance_bottom | append: 'px' }};
    {%  if sst.c_bg != blank %}
      background-color: {{ sst.c_bg }};
    {% endif %}   
  }
  #shopify-section-{{ section.id }} .head_title {
    font-size: {{ sst.fs_text |  append: 'px' }};
    font-weight: {{ sst.fw_tt }};
  }    
  #shopify-section-{{ section.id }} .block_section:before {
    background: url("{{ sst.bg_section }}") no-repeat;
  }
  @media(max-width: 1440px) {
    #shopify-section-{{ section.id }} .title {
      font-size: {{ bst.fsz_ti }};
    } 
    #shopify-section-{{ section.id }} .desc {
      font-size: {{ bst.fsz_d }};
    }
  }
{% endstyle %}