{% assign sst = section.settings %}
{%- assign xxl = sst.xxl | plus:0 -%}
{%- assign xl = sst.xl | plus:0 -%}
{%- assign lg = sst.lg | plus:0 -%}
{%- assign md = sst.md | plus:0 -%}
{%- assign sm = sst.sm | plus:0 -%}
{%- assign xs = sst.xs | plus:0 -%}
{%- assign row_number = sst.row_number | plus:0 -%}
{%- assign row_mobile = sst.row_mobile | plus:0 -%}
{%- assign limit = sst.limit | plus:0 -%}
<div data-section-id="{{ section.id }}" class="{% if sst.bg_size == 'full' %}distance{% if sst.class != blank %} {{ sst.class }}{% endif %} {% endif %}position-relative{% if sst.animate == true %} wow fadeInUp animated{% endif %}" data-product-tabs>
	{% if sst.container == 'container' %}
		<div class="container">
	{% elsif sst.container == 'container-fluid' %}
		<div class="container-fluid">
	{% else %}
		<div class="container-full" style="padding: 0 {{ sst.spacing | append: 'px' }}">
	{% endif %}
		<div class="{% if sst.bg_size == 'content' %}distance{% if sst.class != blank %} {{ sst.class }}{% endif %} {% endif %}container-inner position-relative{% if sst.bg_size == 'content' %} overflow_hidden{% endif %}">
			{% if sst.heading != blank or sst.subheading != blank %}
				<div class="title_section {{ sst.title_alignment }}">
          {% if sst.heading != blank %}
            <span class="title" style="color: {{ sst.heading_c }};">{{ sst.heading }}</span>
          {% endif %}
          {% if sst.subheading != blank %}
            <span class="sub_title" style="color: {{ sst.subheading_c }};">{{ sst.subheading }}</span>
          {% endif %}
        </div>
			{% endif %}
			<ul class="nav nav-tabs list-product-tabs list-unstyled d-none d-md-flex justify-content-center mb-50">
				{% for block in section.blocks %}
					{% assign bst = block.settings %}
					<li class="nav-item position-relative d-block">
						<a class="nav-link tab-links{% if forloop.first  %} active{% endif %} position-relative"
						data-product-tabtop
						href="#producttab{{ forloop.index }}{{ section.id }}"
						data-target="#producttab{{ forloop.index }}{{ section.id }}"
						data-href="/collections/{{ block.settings.collection_handle }}?view=tab2"
						id="tab-{{ forloop.index }}{{ section.id }}" data-id="{{ forloop.index }}{{ section.id }}"
						data-toggle="tab"
						data-limit="{{ limit }}">
							<span class="collection_icon">
								{% if bst.img_collectiontab != blank %}
									{% liquid
										assign imgwidths = bst.img_collectiontab.width
										assign imgalt = bst.img_collectiontab | default: bst.img_collectiontab | strip_html | escape
									%}
									{{ bst.img_collectiontab | img_url: width: imgwidths | img_tag:
										loading: 'lazy',
										class: 'img-fluid',
										widths: '35 50 70',
										alt: imgalt
									}}
								{% endif %}
							</span>
							<span>{{ bst.tab_title }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
			<div class="nav-mobile dropdown d-md-none">
			  <div class="dropdown-toggle nav-mobile__title d-flex align-items-center justify-content-between w-100" data-toggle="dropdown" aria-expanded="false">
			  </div>
			  <div class="dropdown-menu dropdown-menu-right list-product-tabs w-100">
			    {% for block in section.blocks %}
		    		<a class="nav-link tab-links{% if forloop.first %} active{% endif %}"
		    		data-product-tabTop
		    		href="#producttab{{ forloop.index }}{{ section.id }}"
		    		data-target="#producttab{{ forloop.index }}{{ section.id }}"
		    		data-href="/collections/{{ bst.collection_handle }}?view=tab"
		    		id="tab-{{ forloop.index }}{{ section.id }}" data-id="{{ forloop.index }}{{ section.id }}"
		    		data-toggle="tab">
		    			<span>{{ bst.tab_title }}</span>
		    		</a>
			    {% endfor %}
			  </div>
			</div>
			<divww class="product_tab_content tab-content product-tabs-content position-relative">
				{% for block in section.blocks %}
				<div class="tab-content{% if forloop.first %} active{% endif %}" data-product-TabContent id="producttab{{ forloop.index }}{{ section.id }}">
					<div class="products-grid grid--view-items row spacing-{{ sst.spacing }} collection-carousel"
						data-items_xxl="{{ xxl }}"
						data-items="{{ xl }}"
						data-items_lg="{{ lg }}"
						data-items_md="{{ md }}"
						data-items_sm="{{ sm }}"
						data-items_xs="{{ xs }}"
						data-row="{{ row_number }}"
						data-row_mobile="{{ row_mobile }}"
						data-loop="false"
						data-dots="{{ sst.show_dot }}"
						data-nav="{{ sst.show_nav }}"
						data-autoplay="false">
						{%- for i in (1..6) limit: xxl -%}
						  <div class="col position-relative">
						   	<div style="padding-top: 133.3333333%; background-color: #f5f5f5;"></div>
						   	<div class="lds-loadingtab"><div></div><div></div><div></div></div>
						  </div>
						{%- endfor -%}
					</div>
				</div>
				{% endfor %}
			</divww>
			{% if sst.view_all %}
				<div class="text-center mt-30">
					<a href="/collections/all"{% if sst.img_bottom == blank %} class="btn btn-large"{% endif %}>
						{% if sst.img_bottom != blank %}
							<img data-src="{{ sst.img_bottom | img_url: "" }}" class="img-viewall lazyload" alt="{{ sst.img_bottom.alt }}">
						{% else %}
							{{ 'sections.button.view_all' | t }}
						{% endif %}
					</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Vinova Collection Tabs 2",
	"class": "section-collection-tabs",
	"settings": [
		{
			"type": "richtext",
			"id": "heading",
			"label": "Heading",
			"default": "<p>Vinova Collection Tab</p>"
		},
		{
			"type": "color",
			"id": "heading_c",
			"label": "Heading color",
			"default": "#222222"
		},
		{
			"type": "richtext",
			"id": "subheading",
			"label": "Sub heading",
			"default": "<p>Subtitle from happy customers</p>"
		},
		{
			"type": "color",
			"id": "subheading_c",
			"label": "Sub heading color",
			"default": "#666666"
		},
		{
			"type": "select",
			"id": "title_alignment",
			"label": "Heading alignment",
			"default": "text-left",
			"options": [
				{
					"value": "text-left",
					"label": "Left"
				},
				{
					"value": "text-center",
					"label": "Center"
				},
				{
					"value": "text-right",
					"label": "Right"
				}
			]
		},
		{
			"type":  "header",
			"content": "Product item per row"
		},
		{
			"type": "range",
			"id": "xxl",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Extra desktop 1440px ↑",
			"default": 4
		},
		{
			"type": "range",
			"id": "xl",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Large desktop 1200px ↑",
			"default": 4
		},
		{
			"type": "range",
			"id": "lg",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Desktop 992px ↑",
			"default": 3
		},
		{
			"type": "range",
			"id": "md",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Tablet 768px ↑",
			"default": 3
		},
		{
			"type": "range",
			"id": "sm",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Large mobile 576px ↑",
			"default": 2
		},
    {
      "default": 2,
      "id": "xs",
      "label": "Mobile 575px ↓",
      "max": 6,
      "min": 1,
      "step": 1,
      "type": "range"
    },
		{
			"type": "range",
			"id": "row_number",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Number row",
			"default": 1
		},
		{
			"type": "range",
			"id": "row_mobile",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Number row mobile",
			"default": 2
		},
		{
			"type": "range",
			"id": "limit",
			"min": 4,
			"max": 30,
			"step": 1,
			"label": "Limit",
			"default": 30,
			"info": "Select number limit products"
	    },
		{
			"type": "range",
			"id": "spacing",
			"min": 0,
			"max": 30,
			"step": 5,
			"label": "Spacing",
			"default": 30,
			"info": "Spacing item"
		},
		{
			"type": "header",
			"content": "Slider option"
		},
		{
			"type": "checkbox",
			"id": "show_dot",
			"label": "Show dots",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_nav",
			"label": "Show nav",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "view_all",
			"label": "Show button view all",
			"default": true
		},
		{
			"type": "image_picker",
			"id": "img_bottom",
			"label": "Image view all"
		},
		{
			"type":  "header",
			"content": "Design option"
		},
		{
			"type": "color",
			"id": "nav_c",
			"label": "Nav colors",
			"default": "#b0b0b0"
		},
		{
			"type": "color",
			"id": "nav_ca",
			"label": "Nav active colors",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "nav_bd",
			"label": "Nav border colors",
			"default": "#222222"
		},
		{
			"type": "color",
			"id": "nav_bg",
			"label": "Nav background",
			"default": "#222222"
		},
		{
			"type": "color",
			"id": "nav_bga",
			"label": "Nav active background",
			"default": "#222222"
		},
		{
			"type": "checkbox",
			"id": "animate",
			"label": "Show animated",
			"default": false
		},
    {
			"type": "range",
			"id": "br_container",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Border radius container",
			"default": 0
   	},
		{
			"type": "select",
			"id": "container",
			"label": "Container",
			"default": "container",
			"options": [
				{ "value": "container", "label": "Container" },
				{ "value": "container-fluid", "label": "Container fluid" },
				{ "value": "container-full", "label": "Container full width" }
			]
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background colors"
		},
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Background image"
		},
		{
			"type": "select",
			"id": "bg_size",
			"label": "Background size",
			"default": "full",
			"options": [
				{ "value": "content", "label": "Container" },
				{ "value": "full", "label": "Full width" }
			]
		},
		{
			"type": "text",
			"id": "class",
			"label": "Class"
		},
		{
			"type": "number",
			"id": "distance_top",
			"label": "Top spacing section (px)",
			"default": 30
		},
		{
			"type": "number",
			"id": "distance_bottom",
			"label": "Bottom spacing section (px)",
			"default": 30
		}
	],
	"blocks": [
		{
			"type": "tabitem",
			"name": "Tab Item",
			"settings": [
				{
					"type": "image_picker",
					"id": "img_collectiontab",
					"label": "Image Collection Tab"
				},
				{
					"type": "text",
					"id": "tab_title",
					"label": "Tab title"
				},
				{
					"type": "collection",
					"id": "collection_handle",
					"label": "Collection"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Vinova Collection Tabs 2",
			"category": "Collection",
			"blocks": [
				{
					"type":"tabitem",
					"settings":{
						"tab_title": "Tab one",
						"collection_handle": "frontpage"
					}
				},
				{
					"type":"tabitem",
					"settings":{
						"tab_title": "Tab Two",
						"collection_handle": "frontpage"
					}
				},
				{
					"type":"tabitem",
					"settings":{
						"tab_title": "Tab Three",
						"collection_handle": "frontpage"
					}
				}
			]
		}
	]
}
{% endschema %}
{% style %}
	{%- assign bg_image = sst.background_image -%}
	{% if sst.bg_size == 'full' %}
    #shopify-section-{{ section.id }} .distance {
      padding-top: {{ sst.distance_top | append: 'px' }};
      padding-bottom: {{ sst.distance_bottom | append: 'px' }};
      border-radius: {{ sst.br_container | append: 'px' }};
      {% if sst.background_color != blank or bg_image != blank %}
        background: {{ sst.background_color }}{% if bg_image != blank %} url("{{ bg_image | img_url: '1920x' }}") no-repeat center{% endif %};
        background-size: cover;
      {% endif %}
    }
    @media(max-width: 767px) {
      #shopify-section-{{ section.id }} .distance {
        {%- if sst.distance_top > 20 -%}padding-top: {{ sst.distance_top | times: 0.7 | round: 0 | append: 'px' }};{%- endif -%}
        {%- if sst.distance_bottom > 20 -%}padding-bottom: {{ sst.distance_bottom | times: 0.7 | round: 0 | append: 'px' }};{%- endif -%}
      }
    }
  {% else %}
    #shopify-section-{{ section.id }} .container-inner {
      padding-top: {{ sst.distance_top | append: 'px' }};
      padding-bottom: {{ sst.distance_bottom | append: 'px' }};
      border-radius: {{ sst.br_container | append: 'px' }};
      {% if sst.background_color != blank or bg_image.src != blank %}
        background: {{ sst.background_color }}{% if bg_image != blank %} url("{{ bg_image | img_url: '1920x' }}"){% endif %} no-repeat center;
        background-size: cover;
      {% endif %}
    }
    @media(max-width: 767px) {
      #shopify-section-{{ section.id }} .container-inner {
        {%- if sst.distance_top > 20 -%}padding-top: {{ sst.distance_top | times: 0.7 | round: 0 | append: 'px' }};{%- endif -%}
        {%- if sst.distance_bottom > 20 -%}padding-bottom: {{ sst.distance_bottom | times: 0.7 | round: 0 | append: 'px' }};{%- endif -%}
      }
    }
  {% endif %}
  {% if sst.background_color != 'rgba(0,0,0,0)' and sst.background_color != blank %}
  	{% assign bg = true %}
  {% endif %}
	#shopify-section-{{ section.id }} .item-product {
	  margin-bottom: {{ sst.spacing | append: 'px' }};
	}
  {% if bg_image != blank or bg == true %}
  	#shopify-section-{{ section.id }} .title_section {
  		padding-left: 30px;
  		padding-right: 30px;
  	}
  {% endif %}
	@media(max-width: 575px) {
		.collection-carousel:not(.slick-initialized) .col:nth-child(3), .collection-carousel:not(.slick-initialized) .col:nth-child(4) {
			display: none;
		}
	}
{% endstyle %}
