{% assign sst = section.settings %}
<div class="{% if sst.bg_size == 'full' %}distance{% if sst.class != blank %} {{ sst.class }}{% endif %}{% endif %}{% if sst.animate == true %} wow fadeInUp animated{% endif %}" data-section-id="{{ section.id }}" data-section-type="nov-slick">
  {% if sst.container == 'container' %}
    <div class="container">
  {% elsif sst.container == 'container-fluid' %}
    <div class="container-fluid">
  {% else %}
    <div class="container-full">
  {% endif %}
    <div class="{% if sst.bg_size == 'content' %}distance{% if sst.class != blank %} {{ sst.class }}{% endif %}{% endif %}">
      {% if sst.heading != blank or sst.subheading != blank %}
        <div class="title_section {{ sst.title_alignment }}">
          {% if sst.heading != blank %}
            <span class="title" style="color: {{ sst.heading_c }};">{{ sst.heading }}</span>
          {% endif %}
          {% if sst.desc != blank %}
            <span class="desc mt-10" style="color: {{ sst.desc_c }};">{{ sst.desc }}</span>
          {% endif %}
        </div>
      {% endif %}
      <div class="nov-slick-carousel row spacing-{{ sst.spacing }}"
        data-autoplay="{{ sst.autoplay }}"
        data-autoplaytimeout="{{ sst.autoplay_speed }}"
        data-loop="true"
        data-dots="false"
        data-nav="{{ sst.nav }}"
        data-items="{{ sst.xl }}"
        data-items_lg="{{ sst.lg }}"
        data-items_md="{{ sst.md }}"
        data-items_sm="{{ sst.sm }}"
        data-items_xs="{{ sst.xs }}"
        {% if sst.one_slider == true %}data-oneslider="1"{% endif %}
        data-row="1">
        {% for block in section.blocks %}
          <div class="gallery--content p_item">
            <div class="card_gallery hover-image d-block overflow_hidden lupanh">
              <a href="{{ block.settings.image | img_url: '1200x' }}" class="d-block" data-fancybox="gallery">
                {% if block.settings.image != blank %}
                    {% assign imagewidths = block.settings.image.width %}
                    {%- assign imagealt = block.settings.image.alt | default: sst.heading | strip_html | escape -%}
                    {{ block.settings.image | image_url: width: imagewidths | image_tag:
                        loading: 'lazy',
                        sizes: sizes,
                        class: 'img-fluid',
                        alt: imagealt,
                        widths: '600 900 1200'
                        }}
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Gallery Instagram",
  "class": "section-gallery-ins overflow_hidden",
  "settings":[
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<p>Insta Gallery</p>"
    },
    {
      "type": "color",
      "id": "heading_c",
      "label": "Heading color",
      "default": "#222222"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Description",
      "default": "<p>@FreshMate</p>"
    },
    {
      "type": "color",
      "id": "desc_c",
      "label": "Description color",
      "default": "#393939"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Heading alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type":  "header",
      "content": "Slider option"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto-rotate slides",
      "default": true
    },
    {
      "type": "select",
      "id": "autoplay_speed",
      "label": "Change slides every",
      "options": [
        { "value": "4000", "label": "4 seconds" },
        { "value": "5000", "label": "5 seconds" },
        { "value": "6000", "label": "6 seconds" },
        { "value": "7000", "label": "7 seconds" },
        { "value": "8000", "label": "8 seconds" },
        { "value": "9000", "label": "9 seconds" },
        { "value": "10000", "label": "10 seconds" }
      ],
      "default": "4000"
    },
    {
      "type": "checkbox",
      "id": "nav",
      "label": "Show nav",
      "default": true
    },
    {
      "type":  "header",
      "content": "Image item per row"
    },
    {
      "type": "range",
      "id": "xl",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Large desktop",
      "default": 4,
      "info": "Breakpoint 1200px ↑"
    },
    {
      "type": "range",
      "id": "lg",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Desktop",
      "default": 3,
      "info": "Breakpoint 992px ↑"
    },
    {
      "type": "range",
      "id": "md",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Tablet",
      "default": 3,
      "info": "Breakpoint 768px ↑"
    },
    {
      "type": "range",
      "id": "sm",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Small mobile",
      "default": 2,
      "info": "Breakpoint 576px ↑"
    },
    {
      "type": "range",
      "id": "xs",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Mobile",
      "default": 1,
      "info": "Breakpoint 575px ↓"
    },
    {
      "type": "checkbox",
      "id": "one_slider",
      "label": "One slides to scroll",
      "default":   false
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 60,
      "step": 5,
      "unit": "px",
      "label": "Spacing items",
      "default": 0
    },
    {
      "type": "header",
      "content": "Design options"
    },
    {
      "type": "checkbox",
      "id": "animate",
      "label": "Show animated",
      "default":   true
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container",
      "default": "container",
      "options": [
        { "value": "container", "label": "Container" },
        { "value": "container-fluid", "label": "Container fluid" },
        { "value": "container-full", "label": "Container full width" }
      ]
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Border radius image",
      "default": 0
    },
    {
      "type": "range",
      "id": "br_container",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Border radius container",
      "default": 0
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background colors"
    },
    {
      "type": "select",
      "id": "bg_size",
      "label": "Background size",
      "default": "full",
      "options": [
        { "value": "content", "label": "Container" },
        { "value": "full", "label": "Full width" }
      ]
    },
    {
      "type": "text",
      "id": "class",
      "label": "Class"
    },
    {
      "type": "number",
      "id": "distance_top",
      "label": "Top spacing section (px)",
      "default": 30
    },
    {
      "type": "number",
      "id": "distance_bottom",
      "label": "Bottom spacing section (px)",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vinova Gallery Instagram",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
<style>
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ sst.distance_top | append: 'px' }};
    padding-bottom: {{ sst.distance_bottom | append: 'px' }};
    border-radius: {{ sst.br_container | append: 'px' }};
    {% if sst.background_color != blank %}
      background-color: {{ sst.background_color }};
    {% endif %}
    {% if sst.container == 'container-full' %}
      padding-left: {{ sst.spacing | divided_by: 2 }}px;
      padding-right: {{ sst.spacing | divided_by: 2 }}px;
    {% endif %}
  }
  #shopify-section-{{ section.id }} .card_gallery {
    border-radius: {{ sst.border_radius | append: 'px' }};
  }
</style>
