{% assign sst = section.settings %}
<footer{% if sst.animate == true %} class="wow fadeInUp animated"{% endif %} data-section-id="{{ section.id }}" data-section-type="nov-slick">
  <div class="footer-layout pt-85 pb-80 pb-xs-40">
    <div class="container">
      {% if section.blocks.size > 0 %}
        <div class="row">
          {% for block in section.blocks %}
            {% assign bst = block.settings %}
            {% case block.type %}
              {% when 'block_contact' %}
                <div class="footer_contact block_footer{% if bst.block_title != blank and sst.mobile_acc %} mt-xs-0 mb-xs-0{% endif %} {{ bst.grid_xl }} {{ bst.grid_lg }} {{ bst.grid_md }} {{ bst.grid_sm }}{% if bst.block_class != blank %} {{ bst.block_class }}{% endif %}">
                  {% if bst.logo_footer != blank %}
                  <div class="logo-footer">
                    <img src="{{ bst.logo_footer | img_url: '134x' }}" loading="lazy" width="134" height="auto"> 
                  </div>
                  {% endif %}
                  {% if bst.summary_footer != blank %}
                  <div class="summary-footer">
                    <p>{{ bst.summary_footer }}</p>
                  </div>
                  {% endif %}
                </div>
              {% when 'block_menu' %}
                {%- assign footer_linklist = bst.menu_handle -%}
                <div class="footer_menu block_footer{% if bst.block_title != blank and sst.mobile_acc %} mt-xs-0 mb-xs-0{% endif %} {{ bst.grid_xl }} {{ bst.grid_lg }} {{ bst.grid_md }} {{ bst.grid_sm }}{% if bst.block_class != blank %} {{ bst.block_class }}{% endif %}">
                  <div class="block h-100">
                    {% if bst.block_title != blank %}
                      <div class="title-block">
                        {{ bst.block_title }}
                        {% if sst.mobile_acc %}
                          <span class="f_btn_sl d-sm-none"><i class="zmdi zmdi-plus"></i></span>
                        {% endif %}
                      </div>
                    {% endif %}
                    <div class="block-content{% if bst.block_title != blank and sst.mobile_acc %} h_t{% endif %}">
                      {% if linklists[footer_linklist].links.size > 0 %}
                        <ul class="site-footer__linklist list-unstyled pb-xs-30">
                          {% for link in linklists[footer_linklist].links %}
                            <li class="site-footer__linklist-item">
                              <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% when 'block_html' %}
                <div class="footer_html block_footer{% if bst.block_title != blank and sst.mobile_acc %} mt-xs-0 mb-xs-0{% endif %} {{ bst.grid_xl }} {{ bst.grid_lg }} {{ bst.grid_md }} {{ bst.grid_sm }}{% if bst.block_class != blank %} {{ bst.block_class }}{% endif %}">
                  <div class="block h-100">
                    {% if bst.block_title != blank %}
                    <div class="title-block">
                      {{ bst.block_title }}
                      {% if sst.mobile_acc %}
                        <span class="f_btn_sl d-sm-none"><i class="zmdi zmdi-plus"></i></span>
                      {% endif %}
                    </div>
                    {% endif %}
                    <div class="block-content{% if bst.block_title != blank and sst.mobile_acc %} h_t{% endif %}">
                      <div class="pb-xs-30">
                        {% if bst.img != blank %}<img data-src="{{ bst.img | img_url: '155x' }}" class="lazyload mb-30">{% endif %}
                        {% if bst.html_content != blank %}
                          <div class="bl_html">{{ bst.html_content }}</div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% when 'block_multi' %}
                <div class="footer_multi block_footer{% if bst.block_title != blank and sst.mobile_acc %} mt-xs-0 mb-xs-0{% endif %} {{ bst.grid_xl }} {{ bst.grid_lg }} {{ bst.grid_md }} {{ bst.grid_sm }}{% if bst.block_class != blank %} {{ bst.block_class }}{% endif %}">
                  <div class="block h-100">
                    {% if bst.block_title != blank %}
                    <div class="title-block{% if bst.h_t %} d-sm-none{% endif %}">
                      {{ bst.block_title }}
                      {% if sst.mobile_acc %}
                        <span class="f_btn_sl d-sm-none"><i class="zmdi zmdi-plus"></i></span>
                      {% endif %}
                    </div>
                    {% endif %}
                    <div class="block-content{% if bst.block_title != blank and sst.mobile_acc %} h_t{% endif %}">
                      <div class="pb-xs-30">
                        {% if settings.show_multiple_currencies == true and bst.enable_currency %}
                          <div class="footer-currency">
                            {% if bst.c_t != blank %}
                              <div class="title font-500 text-uppercase mb-15">{{ bst.c_t }}</div>
                            {% endif %}
                            {% include 'nov-block-currency', type: 'dropdown' %}
                          </div>
                        {% endif %}
                        {%- if bst.enable_language and localization.available_languages.size > 1 -%}
                          <div class="footer-language mt-25">
                            {% if bst.l_t != blank %}
                              <div class="title font-500 text-uppercase mb-15">{{ bst.l_t }}</div>
                            {% endif %}
                            {% include 'nov-block-language', id: 'footer-language' %}
                          </div>
                        {%- endif -%}
                        {% if bst.social %}
                          <div class="mt-25">
                            {% if bst.s_t != blank %}
                              <div class="title font-500 text-uppercase mb-15">{{ bst.s_t }}</div>
                            {% endif %}
                            {% include 'nov-social' %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% when 'block_newsletter' %}
                <div class="footer_newsletter block_footer block-{{ forloop.index }}{% if bst.block_title != blank and sst.mobile_acc %} mt-xs-0 mb-xs-0{% endif %} {{ bst.grid_xl }} {{ bst.grid_lg }} {{ bst.grid_md }} {{ bst.grid_sm }}{% if bst.block_class != blank %} {{ bst.block_class }}{% endif %}">
                  <div class="block h-100">
                    {% if bst.block_title != blank %}
                    <div class="title-block">
                      {{ bst.block_title }}
                      {% if sst.mobile_acc %}
                        <span class="f_btn_sl d-sm-none"><i class="zmdi zmdi-plus"></i></span>
                      {% endif %}
                    </div>
                    {% endif %}
                    <div class="block-content{% if bst.block_title != blank and sst.mobile_acc %} h_t{% endif %}">
                      <div class="pb-xs-30">
                        {% if bst.desc != blank %}
                          <div class="footer-subtitle mb-3">{{ bst.desc }}</div>
                        {% endif %}
                        {% form 'customer', id: 'footer_contact' %}
                          {{ form.errors | default_errors }}
                          {% if form.posted_successfully? %}
                            <p class="form--success text-center">{{ 'general.newsletter_form.confirmation' | t }}</p>
                          {% else %}
                            <div class="input-group">
                              <input type="hidden" name="contact[tags]" value="newsletter">
                              <input type="email"
                                name="contact[email]"
                                id="Email_Footer"
                                class="input-group__field newsletter__input form-control"
                                value="{% if customer %}{{ customer.email }}{% endif %}"
                                placeholder="{{ 'general.newsletter_form.email_newsletter' | t }}">
                                <button type="submit" class="btn newsletter__submit" name="commit">
                                  <i class="zmdi zmdi-long-arrow-right"></i>
                                </button>
                            </div>
                          {% endif %}
                        {% endform %}
                        <div class="mt-30">{% render 'nov-social' %}</div>
                      </div>
                    </div>
                  </div>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="footer_copyright pt-35 pb-35">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-4"><div class="copyright text-lg-left text-center">{{ sst.copyright }}</div></div>
        <div class="col-lg-4 col-md-6">
          {% if sst.payment != blank or shop.enabled_payment_types %}
            <div class="footer__payment d-flex flex-wrap justify-content-center justify-content-lg-end">
              {% if sst.payment != blank %}
                <img src="{{ sst.payment | img_url: '250x' }}">
              {% else %}
                {%- for type in shop.enabled_payment_types -%}
                  <div class="payment__item mt-sm-15">{{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}</div>
                {%- endfor -%}
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="d-flex align-items-center col-lg-4 col-md-2 footer_multi justify-content-md-end justify-content-center mt-0 mt-sm-20">
          {%- if localization.available_languages.size > 1 -%}
            <div class="footer-language">
              {% include 'nov-block-language', id: 'footer-language' %}
            </div>
          {%- endif -%}
          {% if settings.show_multiple_currencies == true %}
            <div class="footer-currency">
              {% include 'nov-block-currency', type: 'dropdown' %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer>
{% schema %}
  {
    "name": "Footer",
    "class": "nov-footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "animate",
        "label": "Show animated",
        "default":   true
      },
      {
        "type": "checkbox",
        "id": "border_top",
        "label": "Show border top",
        "default":   false
      },
      {
        "type": "color",
        "id": "border_t_c",
        "label": "Border colors"
      },
      {
        "type": "range",
        "id": "border_t_opaciry",
        "min": 0,
        "max": 100,
        "step": 5,
        "label": "Border opacity",
        "default": 100
      },
      {
        "type": "header",
        "content": "Design options"
      },
      {
        "type": "color",
        "id": "color_t",
        "label": "Footer title colors",
        "default": "#222"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Footer text colors",
        "default": "#666"
      },
      {
        "type": "color",
        "id": "color_h",
        "label": "Footer link hover colors",
        "default": "#222"
      },
      {
        "type": "color",
        "id": "soc_c",
        "label": "Social colors",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "soc_bg",
        "label": "Social backround",
        "default": "#222"
      },
      {
        "type": "color",
        "id": "soc_bg_h",
        "label": "Footer backround hover",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "header",
        "content": "Payment"
      },
      {
        "type": "image_picker",
        "id": "payment",
        "label": "Payment image"
      },
      {
        "type": "header",
        "content": "Copyright"
      },
      {
        "type": "text",
        "id": "copyright",
        "label": "Copyright text"
      },
      {
        "type": "color",
        "id": "copy_c",
        "label": "Copyright color",
        "default": "#666"
      },
      {
        "type": "color",
        "id": "copy_bd",
        "label": "Copyright border color",
        "default": "#ececec"
      },
      {
        "type": "color",
        "id": "bg_copy",
        "label": "Background colors copyright"
      },
      {
        "type": "range",
        "id": "opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "label": "Background copyright opacity",
        "default": 100
      },
      {
        "type": "header",
        "content": "Footer mobile"
      },
      {
        "type": "checkbox",
        "id": "mobile_acc",
        "label": "Footer mobile accordion",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "block_contact",
        "name": "Block Contact",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo_footer",
            "label": "Logo footer"
          },
          {
            "type": "richtext",
            "id": "summary_footer",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet</p>",
            "label": "Summary Footer"
          },
          {
            "type": "text",
            "id": "block_class",
            "label": "Class"
          },
          {
            "type": "select",
            "id": "grid_xl",
            "label": "Width item large desktop 1200px ↑",
            "default": "col-xl-3",
            "options": [
              {"value": "col-xl-1", "label": "1/12"},
              {"value": "col-xl-2", "label": "2/12"},
              {"value": "col-xl-3", "label": "3/12"},
              {"value": "col-xl-4", "label": "4/12"},
              {"value": "col-xl-5", "label": "5/12"},
              {"value": "col-xl-6", "label": "6/12"},
              {"value": "col-xl-7", "label": "7/12"},
              {"value": "col-xl-8", "label": "8/12"},
              {"value": "col-xl-9", "label": "9/12"},
              {"value": "col-xl-10", "label": "10/12"},
              {"value": "col-xl-11", "label": "11/12"},
              {"value": "col-xl-12", "label": "12/12"},
              {"value": "col-xl-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_lg",
            "label": "Width item desktop 992px ↑",
            "default": "col-lg-3",
            "options": [
              {"value": "col-lg-1", "label": "1/12"},
              {"value": "col-lg-2", "label": "2/12"},
              {"value": "col-lg-3", "label": "3/12"},
              {"value": "col-lg-4", "label": "4/12"},
              {"value": "col-lg-5", "label": "5/12"},
              {"value": "col-lg-6", "label": "6/12"},
              {"value": "col-lg-7", "label": "7/12"},
              {"value": "col-lg-8", "label": "8/12"},
              {"value": "col-lg-9", "label": "9/12"},
              {"value": "col-lg-10", "label": "10/12"},
              {"value": "col-lg-11", "label": "11/12"},
              {"value": "col-lg-12", "label": "12/12"},
              {"value": "col-lg-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_md",
            "label": "Width item tablet 768px ↑",
            "default": "col-md-3",
            "options": [
              {"value": "col-md-1", "label": "1/12"},
              {"value": "col-md-2", "label": "2/12"},
              {"value": "col-md-3", "label": "3/12"},
              {"value": "col-md-4", "label": "4/12"},
              {"value": "col-md-5", "label": "5/12"},
              {"value": "col-md-6", "label": "6/12"},
              {"value": "col-md-7", "label": "7/12"},
              {"value": "col-md-8", "label": "8/12"},
              {"value": "col-md-9", "label": "9/12"},
              {"value": "col-md-10", "label": "10/12"},
              {"value": "col-md-11", "label": "11/12"},
              {"value": "col-md-12", "label": "12/12"},
              {"value": "col-md-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_sm",
            "label": "Width item mobile 576px ↑",
            "default": "col-sm-3",
            "options": [
              {"value": "col-sm-1", "label": "1/12"},
              {"value": "col-sm-2", "label": "2/12"},
              {"value": "col-sm-3", "label": "3/12"},
              {"value": "col-sm-4", "label": "4/12"},
              {"value": "col-sm-5", "label": "5/12"},
              {"value": "col-sm-6", "label": "6/12"},
              {"value": "col-sm-7", "label": "7/12"},
              {"value": "col-sm-8", "label": "8/12"},
              {"value": "col-sm-9", "label": "9/12"},
              {"value": "col-sm-10", "label": "10/12"},
              {"value": "col-sm-11", "label": "11/12"},
              {"value": "col-sm-12", "label": "12/12"},
              {"value": "col-sm-cus-5", "label": "1/5"}
            ]
          }

        ]
      },
      {
        "type": "block_menu",
        "name": "Block Menu",
        "settings": [
          {
            "type": "text",
            "id": "block_title",
            "label": "Title"
          },
          {
            "type": "link_list",
            "id": "menu_handle",
            "label": "Choose menu",
            "info": "Choose menu for block. [Add new menu here](/admin/menus)"
          },
          {
            "type": "text",
            "id": "block_class",
            "label": "Class"
          },
          {
            "type": "select",
            "id": "grid_xl",
            "label": "Width item large desktop 1200px ↑",
            "default": "col-xl-3",
            "options": [
              {"value": "col-xl-1", "label": "1/12"},
              {"value": "col-xl-2", "label": "2/12"},
              {"value": "col-xl-3", "label": "3/12"},
              {"value": "col-xl-4", "label": "4/12"},
              {"value": "col-xl-5", "label": "5/12"},
              {"value": "col-xl-6", "label": "6/12"},
              {"value": "col-xl-7", "label": "7/12"},
              {"value": "col-xl-8", "label": "8/12"},
              {"value": "col-xl-9", "label": "9/12"},
              {"value": "col-xl-10", "label": "10/12"},
              {"value": "col-xl-11", "label": "11/12"},
              {"value": "col-xl-12", "label": "12/12"},
              {"value": "col-xl-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_lg",
            "label": "Width item desktop 992px ↑",
            "default": "col-lg-3",
            "options": [
              {"value": "col-lg-1", "label": "1/12"},
              {"value": "col-lg-2", "label": "2/12"},
              {"value": "col-lg-3", "label": "3/12"},
              {"value": "col-lg-4", "label": "4/12"},
              {"value": "col-lg-5", "label": "5/12"},
              {"value": "col-lg-6", "label": "6/12"},
              {"value": "col-lg-7", "label": "7/12"},
              {"value": "col-lg-8", "label": "8/12"},
              {"value": "col-lg-9", "label": "9/12"},
              {"value": "col-lg-10", "label": "10/12"},
              {"value": "col-lg-11", "label": "11/12"},
              {"value": "col-lg-12", "label": "12/12"},
              {"value": "col-lg-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_md",
            "label": "Width item tablet 768px ↑",
            "default": "col-md-3",
            "options": [
              {"value": "col-md-1", "label": "1/12"},
              {"value": "col-md-2", "label": "2/12"},
              {"value": "col-md-3", "label": "3/12"},
              {"value": "col-md-4", "label": "4/12"},
              {"value": "col-md-5", "label": "5/12"},
              {"value": "col-md-6", "label": "6/12"},
              {"value": "col-md-7", "label": "7/12"},
              {"value": "col-md-8", "label": "8/12"},
              {"value": "col-md-9", "label": "9/12"},
              {"value": "col-md-10", "label": "10/12"},
              {"value": "col-md-11", "label": "11/12"},
              {"value": "col-md-12", "label": "12/12"},
              {"value": "col-md-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_sm",
            "label": "Width item mobile 576px ↑",
            "default": "col-sm-3",
            "options": [
              {"value": "col-sm-1", "label": "1/12"},
              {"value": "col-sm-2", "label": "2/12"},
              {"value": "col-sm-3", "label": "3/12"},
              {"value": "col-sm-4", "label": "4/12"},
              {"value": "col-sm-5", "label": "5/12"},
              {"value": "col-sm-6", "label": "6/12"},
              {"value": "col-sm-7", "label": "7/12"},
              {"value": "col-sm-8", "label": "8/12"},
              {"value": "col-sm-9", "label": "9/12"},
              {"value": "col-sm-10", "label": "10/12"},
              {"value": "col-sm-11", "label": "11/12"},
              {"value": "col-sm-12", "label": "12/12"},
              {"value": "col-sm-cus-5", "label": "1/5"}
            ]
          }
        ]
      },
      {
        "type": "block_html",
        "name": "Block HTML",
        "settings": [
          {
            "type": "text",
            "id": "block_title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "html_content",
            "label": "Content",
            "placeholder": "You can input code html for content.",
            "info": "You can input code html for content."
          },
          {
            "type": "text",
            "id": "block_class",
            "label": "Class"
          },
          {
            "type": "select",
            "id": "grid_xl",
            "label": "Width item large desktop 1200px ↑",
            "default": "col-xl-3",
            "options": [
              {"value": "col-xl-1", "label": "1/12"},
              {"value": "col-xl-2", "label": "2/12"},
              {"value": "col-xl-3", "label": "3/12"},
              {"value": "col-xl-4", "label": "4/12"},
              {"value": "col-xl-5", "label": "5/12"},
              {"value": "col-xl-6", "label": "6/12"},
              {"value": "col-xl-7", "label": "7/12"},
              {"value": "col-xl-8", "label": "8/12"},
              {"value": "col-xl-9", "label": "9/12"},
              {"value": "col-xl-10", "label": "10/12"},
              {"value": "col-xl-11", "label": "11/12"},
              {"value": "col-xl-12", "label": "12/12"},
              {"value": "col-xl-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_lg",
            "label": "Width item desktop 992px ↑",
            "default": "col-lg-3",
            "options": [
              {"value": "col-lg-1", "label": "1/12"},
              {"value": "col-lg-2", "label": "2/12"},
              {"value": "col-lg-3", "label": "3/12"},
              {"value": "col-lg-4", "label": "4/12"},
              {"value": "col-lg-5", "label": "5/12"},
              {"value": "col-lg-6", "label": "6/12"},
              {"value": "col-lg-7", "label": "7/12"},
              {"value": "col-lg-8", "label": "8/12"},
              {"value": "col-lg-9", "label": "9/12"},
              {"value": "col-lg-10", "label": "10/12"},
              {"value": "col-lg-11", "label": "11/12"},
              {"value": "col-lg-12", "label": "12/12"},
              {"value": "col-lg-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_md",
            "label": "Width item tablet 768px ↑",
            "default": "col-md-3",
            "options": [
              {"value": "col-md-1", "label": "1/12"},
              {"value": "col-md-2", "label": "2/12"},
              {"value": "col-md-3", "label": "3/12"},
              {"value": "col-md-4", "label": "4/12"},
              {"value": "col-md-5", "label": "5/12"},
              {"value": "col-md-6", "label": "6/12"},
              {"value": "col-md-7", "label": "7/12"},
              {"value": "col-md-8", "label": "8/12"},
              {"value": "col-md-9", "label": "9/12"},
              {"value": "col-md-10", "label": "10/12"},
              {"value": "col-md-11", "label": "11/12"},
              {"value": "col-md-12", "label": "12/12"},
              {"value": "col-md-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_sm",
            "label": "Width item mobile 576px ↑",
            "default": "col-sm-3",
            "options": [
              {"value": "col-sm-1", "label": "1/12"},
              {"value": "col-sm-2", "label": "2/12"},
              {"value": "col-sm-3", "label": "3/12"},
              {"value": "col-sm-4", "label": "4/12"},
              {"value": "col-sm-5", "label": "5/12"},
              {"value": "col-sm-6", "label": "6/12"},
              {"value": "col-sm-7", "label": "7/12"},
              {"value": "col-sm-8", "label": "8/12"},
              {"value": "col-sm-9", "label": "9/12"},
              {"value": "col-sm-10", "label": "10/12"},
              {"value": "col-sm-11", "label": "11/12"},
              {"value": "col-sm-12", "label": "12/12"},
              {"value": "col-sm-cus-5", "label": "1/5"}
            ]
          }
        ]
      },
      {
        "type": "block_multi",
        "name": "Currency And Language",
        "settings": [
          {
            "type": "text",
            "id": "block_title",
            "label": "Title"
          },
          {
            "type": "checkbox",
            "id": "h_t",
            "label": "Hidden title large mobile",
            "default": true,
            "info": "Breakpoint 576px ↑"
          },
          {
            "type": "header",
            "content": "Currency"
          },
          {
            "type": "text",
            "id": "c_t",
            "label": "Title currency"
          },
          {
            "type": "checkbox",
            "id": "enable_currency",
            "label": "Enable currency selector"
          },
          {
            "type": "header",
            "content": "Language"
          },
          {
            "type": "text",
            "id": "l_t",
            "label": "Title language"
          },
          {
            "type": "checkbox",
            "id": "enable_language",
            "label": "Enable language selector"
          },
          {
            "type": "header",
            "content": "Social"
          },
          {
            "type": "text",
            "id": "s_t",
            "label": "Title social"
          },
          {
            "type": "checkbox",
            "id": "social",
            "label": "Enable social"
          },
          {
            "type": "text",
            "id": "block_class",
            "label": "Class"
          },
          {
            "type": "select",
            "id": "grid_xl",
            "label": "Width item large desktop 1200px ↑",
            "default": "col-xl-3",
            "options": [
              {"value": "col-xl-1", "label": "1/12"},
              {"value": "col-xl-2", "label": "2/12"},
              {"value": "col-xl-3", "label": "3/12"},
              {"value": "col-xl-4", "label": "4/12"},
              {"value": "col-xl-5", "label": "5/12"},
              {"value": "col-xl-6", "label": "6/12"},
              {"value": "col-xl-7", "label": "7/12"},
              {"value": "col-xl-8", "label": "8/12"},
              {"value": "col-xl-9", "label": "9/12"},
              {"value": "col-xl-10", "label": "10/12"},
              {"value": "col-xl-11", "label": "11/12"},
              {"value": "col-xl-12", "label": "12/12"},
              {"value": "col-xl-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_lg",
            "label": "Width item desktop 992px ↑",
            "default": "col-lg-3",
            "options": [
              {"value": "col-lg-1", "label": "1/12"},
              {"value": "col-lg-2", "label": "2/12"},
              {"value": "col-lg-3", "label": "3/12"},
              {"value": "col-lg-4", "label": "4/12"},
              {"value": "col-lg-5", "label": "5/12"},
              {"value": "col-lg-6", "label": "6/12"},
              {"value": "col-lg-7", "label": "7/12"},
              {"value": "col-lg-8", "label": "8/12"},
              {"value": "col-lg-9", "label": "9/12"},
              {"value": "col-lg-10", "label": "10/12"},
              {"value": "col-lg-11", "label": "11/12"},
              {"value": "col-lg-12", "label": "12/12"},
              {"value": "col-lg-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_md",
            "label": "Width item tablet 768px ↑",
            "default": "col-md-3",
            "options": [
              {"value": "col-md-1", "label": "1/12"},
              {"value": "col-md-2", "label": "2/12"},
              {"value": "col-md-3", "label": "3/12"},
              {"value": "col-md-4", "label": "4/12"},
              {"value": "col-md-5", "label": "5/12"},
              {"value": "col-md-6", "label": "6/12"},
              {"value": "col-md-7", "label": "7/12"},
              {"value": "col-md-8", "label": "8/12"},
              {"value": "col-md-9", "label": "9/12"},
              {"value": "col-md-10", "label": "10/12"},
              {"value": "col-md-11", "label": "11/12"},
              {"value": "col-md-12", "label": "12/12"},
              {"value": "col-md-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_sm",
            "label": "Width item mobile 576px ↑",
            "default": "col-sm-3",
            "options": [
              {"value": "col-sm-1", "label": "1/12"},
              {"value": "col-sm-2", "label": "2/12"},
              {"value": "col-sm-3", "label": "3/12"},
              {"value": "col-sm-4", "label": "4/12"},
              {"value": "col-sm-5", "label": "5/12"},
              {"value": "col-sm-6", "label": "6/12"},
              {"value": "col-sm-7", "label": "7/12"},
              {"value": "col-sm-8", "label": "8/12"},
              {"value": "col-sm-9", "label": "9/12"},
              {"value": "col-sm-10", "label": "10/12"},
              {"value": "col-sm-11", "label": "11/12"},
              {"value": "col-sm-12", "label": "12/12"},
              {"value": "col-sm-cus-5", "label": "1/5"}
            ]
          }
        ]
      },
      {
        "type": "block_newsletter",
        "name": "Block Newsletter",
        "settings": [
          {
            "type": "text",
            "id": "block_title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "desc",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "block_class",
            "label": "Class"
          },
          {
            "type": "select",
            "id": "grid_xl",
            "label": "Width item large desktop 1200px ↑",
            "default": "col-xl-3",
            "options": [
              {"value": "col-xl-1", "label": "1/12"},
              {"value": "col-xl-2", "label": "2/12"},
              {"value": "col-xl-3", "label": "3/12"},
              {"value": "col-xl-4", "label": "4/12"},
              {"value": "col-xl-5", "label": "5/12"},
              {"value": "col-xl-6", "label": "6/12"},
              {"value": "col-xl-7", "label": "7/12"},
              {"value": "col-xl-8", "label": "8/12"},
              {"value": "col-xl-9", "label": "9/12"},
              {"value": "col-xl-10", "label": "10/12"},
              {"value": "col-xl-11", "label": "11/12"},
              {"value": "col-xl-12", "label": "12/12"},
              {"value": "col-xl-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_lg",
            "label": "Width item desktop 992px ↑",
            "default": "col-lg-3",
            "options": [
              {"value": "col-lg-1", "label": "1/12"},
              {"value": "col-lg-2", "label": "2/12"},
              {"value": "col-lg-3", "label": "3/12"},
              {"value": "col-lg-4", "label": "4/12"},
              {"value": "col-lg-5", "label": "5/12"},
              {"value": "col-lg-6", "label": "6/12"},
              {"value": "col-lg-7", "label": "7/12"},
              {"value": "col-lg-8", "label": "8/12"},
              {"value": "col-lg-9", "label": "9/12"},
              {"value": "col-lg-10", "label": "10/12"},
              {"value": "col-lg-11", "label": "11/12"},
              {"value": "col-lg-12", "label": "12/12"},
              {"value": "col-lg-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_md",
            "label": "Width item tablet 768px ↑",
            "default": "col-md-3",
            "options": [
              {"value": "col-md-1", "label": "1/12"},
              {"value": "col-md-2", "label": "2/12"},
              {"value": "col-md-3", "label": "3/12"},
              {"value": "col-md-4", "label": "4/12"},
              {"value": "col-md-5", "label": "5/12"},
              {"value": "col-md-6", "label": "6/12"},
              {"value": "col-md-7", "label": "7/12"},
              {"value": "col-md-8", "label": "8/12"},
              {"value": "col-md-9", "label": "9/12"},
              {"value": "col-md-10", "label": "10/12"},
              {"value": "col-md-11", "label": "11/12"},
              {"value": "col-md-12", "label": "12/12"},
              {"value": "col-md-cus-5", "label": "1/5"}
            ]
          },
          {
            "type": "select",
            "id": "grid_sm",
            "label": "Width item mobile 576px ↑",
            "default": "col-sm-3",
            "options": [
              {"value": "col-sm-1", "label": "1/12"},
              {"value": "col-sm-2", "label": "2/12"},
              {"value": "col-sm-3", "label": "3/12"},
              {"value": "col-sm-4", "label": "4/12"},
              {"value": "col-sm-5", "label": "5/12"},
              {"value": "col-sm-6", "label": "6/12"},
              {"value": "col-sm-7", "label": "7/12"},
              {"value": "col-sm-8", "label": "8/12"},
              {"value": "col-sm-9", "label": "9/12"},
              {"value": "col-sm-10", "label": "10/12"},
              {"value": "col-sm-11", "label": "11/12"},
              {"value": "col-sm-12", "label": "12/12"},
              {"value": "col-sm-cus-5", "label": "1/5"}
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
{%- assign bg_image = sst.background_image -%}
<style>
  .nov-footer {
    {% if sst.background_color != blank %}
      background-color: {{ sst.background_color }};
    {% endif %}
    {% if bg_image.src != blank %}
      background-image: url("{{ bg_image | img_url: '1920x' }}");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    {% endif %}
    {% if sst.border_top %}
      border-top:  1px solid rgba({{ sst.border_t_c | color_to_rgb | remove: 'rgb(' | remove: 'rgba(' | remove: ')' | remove: ', 0.0' }}, {{ sst.border_t_opacity }}%);
    {% endif %}
  }
  .footer-layout .dropdown-toggle {
    border-color:  rgba({{ sst.color | color_to_rgb | remove: 'rgb(' | remove: 'rgba(' | remove: ')' | remove: ', 0.0' }}, 10%) !important;
  }
  .footer-layout,
  .site-footer__linklist-item a,
  .footer-layout .nov-language button,
  .footer-layout .currency-dropdown{
    color: {{ sst.color }};
  }
  .footer-layout .title-block, .footer-layout .title {
    color: {{ sst.color_t }};
  }
  .footer-layout a:hover, .copyright-menu a:hover {
    color: {{ sst.color_h }};
  }
  .nov-footer .footer_newsletter input {
    border-color: {{ sst.color }};
  }
  .footer-layout .block_social a {
    background-color: {{ sst.soc_bg }};
    color:  {{ sst.soc_c }};
  }
  .footer-layout .block_social svg {
    fill: {{ sst.soc_c }};
  }
  .footer-layout .block_social a:hover {
    background-color: {{ sst.soc_bg_h }};
  }
  .footer_copyright {
    color: {{ sst.copy_c }};
    border-color: {{ sst.copy_bd }} !important;
  }
  .footer_copyright {
    color: {{ sst.copy_c }};
  }
  {% if sst.bg_copy != blank %}
    .footer_copyright {
      background-color: rgba({{ sst.bg_copy | color_to_rgb | remove: 'rgb(' | remove: 'rgba(' | remove: ')' | remove: ', 0.0' }}, {{ sst.opacity }}%);
    }
  {% endif %}
</style>