{% layout none %}
<div class="cart-popup__content-top">
  <div class="cart-popup-heading d-flex align-items-center mb-20 text-uppercase c_h">
    <div class="cart__popup-headingtitle font-800">{{ 'cart.general.your_order' | t }}</div>
    <span class="font-600">{{ 'cart.general.total_cart' | t: total_cart: cart.item_count }}</span>
  </div>
  <div class="row">
    <div class="col-lg-62-7 col-lg-7 cart-popup__content">
      <div class="cart__popup_content shopify form_jas_agree">
        <div class="cart_items" id="push_cart_items">
          {% if cart.item_count > 0 %}
            {% for item in cart.items %}
              <div id="{{ item.id }}" class="cart__popup-item{% if forloop.last == false %} mb-5{% endif %} d-flex align-items-center justify-content-end cart_item">
                <div class="cart__popup-remove">
                  <a href="/cart/change?line={{ forloop.index }}&quantity=0" data-product-id="{{ item.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </div>
                <div class="cart__popup-thumb">
                  <img class="cart__image" src="{{ item | img_url: '95x' }}" alt="{{ item.title | escape }}" />
                </div>
                <div class="cart__popup_grow">
                  <div class="cart__popup-title"><a href="{{ item.url }}" class="font-700 c_h hover:c_df d-inline-block">{{ item.product.title }}</a></div>
                  <div class="cart__popup-variant font-600 text-uppercase mt-5">
                    {% unless item.variant.title contains 'Default' %}
                      {% for option in item.product.options %}
                        <span>{{ item.variant.options[forloop.index0] }}&nbsp;{% if forloop.last == false %}/{% endif %}</span>
                      {% endfor %}
                    {% endunless %}
                    {%- assign property_size = item.properties | size -%}
                    {% if property_size > 0 %}
                      <div class="cart__meta-text">
                        {% for p in item.properties %}
                          {% unless p.last == blank %}
                            {{ p.first }}:
                            {% if p.last contains '/uploads/' %}
                              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                            {% else %}
                              {{ p.last }}
                            {% endif %}
                          {% endunless %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="cart__popup-price font-800 f_pr">
                  <span class="shopify-Price-amount amount">{{ item.price | money }}</span>
                </div>
                <div class="cart__popup-quantity">
                  <div class="quantity d-flex align-items-center">
                    <a class="cart__popup-qty cart__popup-qty--minus" href="javascript:void(0);">-</a>
                    <input class="cart__popup-qty--input on_page" type="number" name="updates[]" id="updates_{{ item.key }}" data-price="{{ item.price }}" data-id="{{ item.id }}" data-line="{{ forloop.index }}" step="1" value="{{ item.quantity }}" min="1" max="{% if item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %}9999{% else %}{{ item.variant.inventory_quantity }}{% endif %}" pattern="[0-9]*" />
                    <a class="cart__popup-qty cart__popup-qty--plus" href="javascript:void(0);">+</a>
                  </div>
                </div>
                <div class="cart__popup-total text-right f_pr font-800 c_h">
                  <span class="shopify-Price-amount amount product-subtotal" data-price="{{ item.price }}">{{ item.line_price | money }}</span>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        {% assign freeshipping_value = settings.free_shipping | plus: 0 %}
        {% assign freeshipping_value_notice = freeshipping_value | times: 100 | money %}
        {% if settings.freeshipping_enable %}
          <div class="cart-notice-total font-800 text-uppercase c_h mt-55">
            {{ 'cart.general.freeshipping_notice_html' | t: freeshipping_value: freeshipping_value_notice }}
          </div>
        {% endif %}
        {% if settings.freeshipping_enable %}
          {% assign price_without_currency = cart.total_price | money_without_currency | remove: '.00' | remove: ',' %}
          {% assign price = price_without_currency | plus: 0 %}
          {% if price < freeshipping_value %}
            {% assign spend_value = freeshipping_value | minus: price | times: 100 | money %}
            <div id="threshold_bar_popup">
              <div class="threshold_spend">{{ 'cart.general.spend_html' | t: spend: spend_value }}</div>
              <div class="threshold_bar">
                {% assign w = price | times: 100 | divided_by: freeshipping_value | round %}
                <span class="animate" style="width: {{ w }}%!important">
                  <span>{{ price | times: 100 | divided_by: freeshipping_value | round }}%</span>
                </span>
              </div>
            </div>
          {% else %}
            <div id="threshold_bar_popup">
              <div class="threshold_spend spend_congrats"><span>{{ 'cart.general.content_threshold' | t }}<i class="rbb-icon-delivery-11"></i></span></div>
              <div class="threshold_bar threshold_congrats"><span class="animate" style="width: 100% !important;"><span>100%</span></span></div>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="col-lg-37-3 col-lg-5 mt-md-30">
      <div class="cart__popup-total__price d-flex align-items-center justify-content-between font-800 c_h">
        <span class="text-uppercase">{{ 'cart.general.total' | t }}:</span>
        <span class="cart__popup-stotal f_pr">
          <span class="shopify-Price-amount amount cart__subtotal" id="cart__popup_total">{{ cart.total_price | money }}</span>
        </span>
      </div>
      <div class="cart__popup-action pt-20 mt-20">
        <a href="/cart" class="btn w-100 mb-10"><span>{{ 'cart.general.view_cart' | t }}</span></a>
        <a href="/collections/all" class="button btn w-100"><span>{{ 'cart.general.continue_shopping' | t }}</span></a>
        <div class="popup__cart-checkout mt-40">
          <input type="checkbox" name="cartcheckout" id="checkout__input" class="hide">
          <label for="checkout__input" class="d-flex align-items-center">
            <span class="custom-checkbox d-inline-flex align-items-center justify-content-center"><i class="zmdi zmdi-check"></i></span>
            <span class="label__text">{{ settings.terms_conditions }}</span>
          </label>
          <a href="/checkout" class="checkout-button btn w-100 mt-20"><span>{{ 'cart.general.proceed_to_checkout' | t }}</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% if collections['upsell'].products.size > 0 and settings.upsell_enable %}
  <div class="cart-popup__content-bottom">
    <h3 class="cart__popup-related-title">{{ 'cart.general.you_might_also_like' | t }}</h3>
    <div class="row spacing-20 spacing-xs-10 product-related" id="upsell_wrap">
      {% assign product_handle = '' %}
      {% for item in cart.items %}
      	{% if product_handle == '' %}
      		{% assign product_handle = item.product.handle | strip %}
      	{% else %}
      		{% assign product_handle = product_handle | append: '|' | append: item.product.handle | strip %}
      	{% endif %}
      {% endfor %}
      
      {% assign product_handle_array = product_handle | split: "|" %}
      {% assign i = 0 %}
      {% for product in collections['upsell'].products %}
      	{% if i < 5 %}
          {% unless product_handle_array contains product.handle  %}
          <div class="col-md-cus-5 col-sm-6 col-6">
            <div class="popup__cart-product mb-sm-20">
              <div class="position-relative overflow_hidden{% if product.images.size > 1 %} has-multiimage{% endif %}">
                <img class="sp-post-image" src="{{ product | img_url: '250x' }}" alt="{{ product.title | escape }}" />
                {% for image in product.images %}
                  {% if forloop.first != true %}
                    <img class="sp-post-image-second position-absolute" src="{{ image.src | img_url: '250x' }}" alt="{{ product.title | escape }}" />
                  {% break %}
                  {% endif %}
                {% endfor %}
              </div>
              <a class="related_product-title" href="{{ product.url }}">{{ product.title | escape }}</a>
              <div class="product__price">
                {% include 'product-price' %}
              </div>
            </div>
          </div>
          {% assign i = i | plus: 1 %}
          {% endunless %}
      	{% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}